In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'serif'

In [3]:
featured_data = pd.read_csv('extracted_features_candidate_data_ver3.csv')
featured_data.head()

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c t bauer college business graduate m...,1,[[-0.20800781 0.03417969 0.02575684 ... 0.0...,[-8.36746246e-02 3.46024260e-02 -1.73351355e-...,0.572644,[[-6.1878e-01 -4.9302e-02 3.5098e-01 ... -2.4...,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik english program ...,0,[[ 0.26367188 0.28125 -0.05493164 ... -0.2...,[-2.04139259e-02 1.74007919e-02 5.13645560e-...,0.236671,[[-0.70018 0.053196 -0.20213 ... -0.22181 ...,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,0.903204,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,0,[[ 0.26367188 -0.01916504 0.02893066 ... -0.0...,[-1.06938034e-01 -1.27687156e-02 -7.28640631e-...,0.285902,[[-0.41355 0.076012 0.099178 ... 0.15953 ...,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,0,[[-0.08837891 -0.17773438 0.1953125 ... -0.0...,[-8.32213387e-02 1.65026933e-02 -7.30818463e-...,0.251144,[[ 0.29924 -0.056401 -0.10924 ... 0.1007...,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [4]:
featured_data.shape

(53, 19)

In [5]:
featured_data_embeddings_dropped = featured_data.drop(columns=[
    'location',
    'connection',
    'job_title_lemmatized',
    'word2vec_embeddings',
    'sentence_embeddings',
    'glove_embeddings'
])
featured_data_embeddings_dropped.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [6]:
print("Unique country count:", featured_data_embeddings_dropped['country'].nunique())
print("Unique region count:", featured_data_embeddings_dropped['region'].nunique())
print("Unique city count:", featured_data_embeddings_dropped['city'].nunique())

Unique country count: 4
Unique region count: 28
Unique city count: 34

In [7]:
# Drop 'city' and 'region' columns
featured_data_encoded = featured_data_embeddings_dropped.drop(columns=['city', 'region'])

# One-hot encode the 'country' categorical feature
featured_data_encoded = pd.get_dummies(featured_data_encoded, columns=['country'])

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_Amerika Birleşik Devletleri,country_Canada,country_Türkiye,country_United States
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

In [8]:
featured_data_encoded.shape

(53, 14)

In [9]:
# Rename the 3 country columns in featured_data_encoded
country_columns = [
    'country_Amerika Birleşik Devletleri',
    'country_Canada',
    'country_Türkiye',
    'country_United States'
]
new_country_columns = ['country_1', 'country_2', 'country_3', 'country_4']

featured_data_encoded = featured_data_encoded.rename(
    columns=dict(zip(country_columns, new_country_columns))
)

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

#### Will be using only the 'lemmatized_job_title' feature for the Gemini model here.

In [10]:
import google.generativeai as genai

genai.configure(api_key="AIzaSyDGjPtWmRl2v7B4EkEi_uTEhEdDcpHEY1Y")

# Prepare the prompt for Gemini model
job_titles = featured_data['job_title_lemmatized'].tolist()
prompt = (
    "Given the following list of job titles, rank the candidates from most to least suitable for an HR position with the following job titles:\n"
    "'seek human resource'\n"
    "'human resource professional'\n\n"
    "Return the ranking as a list of indices (0-based, corresponding to the order in the list):\n\n"
    + "\n".join(f"{i}: {title}" for i, title in enumerate(job_titles))
)

# Initialize Gemini model
model = genai.GenerativeModel('gemini-1.5-flash')  # Updated model name
response = model.generate_content(prompt)

# Print Gemini's ranking response
print(response.text)

Here's a ranking of the candidates based on suitability for an HR position, considering the keywords "seek human resource" and "human resource professional":

The ranking prioritizes candidates explicitly mentioning "human resource" in their title and those with senior-level or specialized HR roles.  Those simply stating "aspire to be" in HR are ranked lower unless they have other supporting qualifications.

[10, 17, 37, 29, 7, 16, 19, 26, 31, 49, 50, 11, 22, 32, 0, 2, 3, 4, 5, 6, 8, 12, 14, 15, 18, 20, 21, 23, 24, 25, 27, 30, 36, 45, 48, 9, 13, 33, 38, 40, 41, 42, 43, 44, 46, 47, 28, 34, 35, 39, 51, 52, 1]


**Explanation of the Logic:**

* **Top Tier:** Candidates with senior-level HR titles (SVP, Director, Senior Specialist) or those clearly indicating extensive HR experience are placed highest.
* **Mid Tier:** Candidates with "Human Resource Professional," "Human Resource Generalist," or "Human Resource Specialist" titles, and those with relevant experience (e.g., People Development Coordinator).  Those "aspiring" to be HR professionals but having relevant experience are also placed here.
* **Lower Tier:**  Candidates with tangential experience (e.g., retail management) who express interest in HR, students, and those with completely unrelated job titles are ranked lower.  Those only mentioning "seek human resource" without other qualifications are also placed lower.
* **Bottom Tier:** Candidates with completely unrelated experience and no mention of HR aspirations.

This ranking system prioritizes demonstrable experience and direct relevance to the HR field.  A human review might refine the order slightly based on subtle details not easily captured by keyword analysis.

In [11]:
import re

# Extract the ranking list from response.text
ranking_str = re.search(r"\[(.*?)\]", response.text, re.DOTALL).group(1)
ranking_list = [int(x.strip()) for x in ranking_str.split(",") if x.strip().isdigit()]

# Add a 'gemini_rank' column to featured_data
featured_data['gemini_rank'] = 0
for rank, idx in enumerate(ranking_list):
    featured_data.at[idx, 'gemini_rank'] = rank + 1 

# Sort the dataframe by 'gemini_rank'
featured_data_sorted = featured_data.sort_values('gemini_rank').reset_index(drop=True)
featured_data_sorted.head()

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score,gemini_rank
0,12,"SVP, CHRO, Marketing & Communications, CSR Off...","Houston, Texas Area",500+,svp chief human resource officer marketing...,1,[[ 0.04931641 -0.20605469 -0.41210938 ... 0.0...,[-5.53607531e-02 2.29917634e-02 -3.22901784e-...,0.677123,[[-0.16096 -0.46327 -0.19942 ... 0.0256...,0.699335,0.557482,1.00,0,0.0,United States,Houston,Texas Area,1.000,1
1,69,"Director of Human Resources North America, Gro...","Greater Grand Rapids, Michigan Area",500+,director human resource north america groupe...,1,[[-0.0402832 -0.32226562 0.04052734 ... 0.1...,[-4.00273427e-02 6.81127328e-03 -4.06180061e-...,0.598991,[[-0.068696 -0.39391 0.45735 ... 0.2755...,0.653684,0.615016,0.90,0,0.0,United States,Grand Rapids,Michigan,1.000,2
2,89,Director Human Resources at EY,Greater Atlanta Area,349,director human resource ey,1,[[-0.0402832 -0.32226562 0.04052734 ... 0.1...,[-7.57824630e-02 -5.35563240e-03 -3.49856056e-...,0.675315,[[-0.068696 -0.39391 0.45735 ... 0.2755...,0.759261,0.685894,0.90,0,0.0,United States,Atlanta,Georgia,0.698,3
3,81,Senior Human Resources Business Partner at Hei...,"Chattanooga, Tennessee Area",455,senior human resource business partner heil en...,1,[[ 0.07617188 0.140625 -0.02270508 ... -0.0...,[-1.28885238e-02 1.02332644e-01 1.23307994e-...,0.704106,[[-0.27096 0.53666 0.22216 ... -0.2426...,0.773983,0.501192,0.75,0,0.0,United States,Chattanooga,Tennessee Area,0.910,4
4,8,HR Senior Specialist,San Francisco Bay Area,500+,human resource senior specialist,1,[[ 0.0559082 0.09228516 0.10791016 ... -0.0...,[-7.98110962e-02 7.16269389e-02 -3.02539356e-...,0.778913,[[ 0.16608 0.3167 -0.58249 ... 0.2401...,0.824274,0.802708,0.75,2,0.0,United States,San Francisco,Bay Area,1.000,5