In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'serif'

In [2]:
featured_data = pd.read_csv('extracted_features_candidate_data_ver3.csv')
featured_data.head()

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c t bauer college business graduate m...,1,[[-0.20800781 0.03417969 0.02575684 ... 0.0...,[-8.36746246e-02 3.46024260e-02 -1.73351355e-...,0.572644,[[-6.1878e-01 -4.9302e-02 3.5098e-01 ... -2.4...,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik english program ...,0,[[ 0.26367188 0.28125 -0.05493164 ... -0.2...,[-2.04139259e-02 1.74007919e-02 5.13645560e-...,0.236671,[[-0.70018 0.053196 -0.20213 ... -0.22181 ...,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,0.903204,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,0,[[ 0.26367188 -0.01916504 0.02893066 ... -0.0...,[-1.06938034e-01 -1.27687156e-02 -7.28640631e-...,0.285902,[[-0.41355 0.076012 0.099178 ... 0.15953 ...,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,0,[[-0.08837891 -0.17773438 0.1953125 ... -0.0...,[-8.32213387e-02 1.65026933e-02 -7.30818463e-...,0.251144,[[ 0.29924 -0.056401 -0.10924 ... 0.1007...,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [3]:
featured_data.shape

(53, 19)

In [4]:
featured_data_embeddings_dropped = featured_data.drop(columns=[
    'location',
    'connection',
    'job_title_lemmatized',
    'word2vec_embeddings',
    'sentence_embeddings',
    'glove_embeddings'
])
featured_data_embeddings_dropped.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [5]:
print("Unique country count:", featured_data_embeddings_dropped['country'].nunique())
print("Unique region count:", featured_data_embeddings_dropped['region'].nunique())
print("Unique city count:", featured_data_embeddings_dropped['city'].nunique())

Unique country count: 4
Unique region count: 28
Unique city count: 34

In [6]:
# Drop 'city' and 'region' columns
featured_data_encoded = featured_data_embeddings_dropped.drop(columns=['city', 'region'])

# One-hot encode the 'country' categorical feature
featured_data_encoded = pd.get_dummies(featured_data_encoded, columns=['country'])

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_Amerika Birleşik Devletleri,country_Canada,country_Türkiye,country_United States
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

In [7]:
featured_data_encoded.shape

(53, 14)

In [8]:
# Rename the 3 country columns in featured_data_encoded
country_columns = [
    'country_Amerika Birleşik Devletleri',
    'country_Canada',
    'country_Türkiye',
    'country_United States'
]
new_country_columns = ['country_1', 'country_2', 'country_3', 'country_4']

featured_data_encoded = featured_data_encoded.rename(
    columns=dict(zip(country_columns, new_country_columns))
)

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

#### Will be using all the features for the Gemini model here.

In [12]:
import google.generativeai as genai

# Configure API key
genai.configure(api_key="AIzaSyDGjPtWmRl2v7B4EkEi_uTEhEdDcpHEY1Y")

# Prepare the prompt for Gemini model using all features except 'job_title'
feature_columns = [col for col in featured_data_encoded.columns if col != 'job_title']
feature_descriptions = {
    'has_hr': "Indicates if the candidate has HR experience (1) or not (0).",
    'word2vec_max_similarity': "Semantic similarity of the candidate's profile to HR-related terms using Word2Vec to the job title being searched for.",
    'glove_max_similarity': "Semantic similarity using GloVe embeddings to the job title being searched for.",
    'sentence_max_similarity': "Semantic similarity using sentence embeddings to the job title being searched for.",
    'seniority_score': "Seniority level of the candidate (higher is more senior). The more the seniority, the higher the score.",
    'similarity_cluster': "Cluster assignment based on GloVe embeddings similarity.",
    'experience_score': "Score representing the candidate's relevant experience. More experience results in a higher score.",
    'connection_score': "Score based on the candidate's professional connections. More connections result in a higher score.",
    'country_1': "Candidate is from country 1.",
    'country_2': "Candidate is from country 2.",
    'country_3': "Candidate is from country 3.",
    'country_4': "Candidate is from country 4.",
    'id': "Unique identifier for the candidate."
}

prompt = (
    "You are an HR expert. Analyze the following candidates and rank them from most to least suitable for HR positions like 'seek human resource' and 'human resource professional'.\n\n"
    "IMPORTANT: Do NOT write any code. Only provide the final ranking as a simple list.\n\n"
    "Ranking criteria (in order of importance):\n"
    "1. HR experience (has_hr = 1 is much better than has_hr = 0)\n"
    "2. Semantic similarity scores (word2vec_max_similarity, glove_max_similarity, sentence_max_similarity) - higher is better\n"
    "3. Seniority and experience scores - higher is better\n"
    "4. Professional connections - higher is better\n\n"
    "Candidates:\n"
)

# Add the candidate feature rows to the prompt
for i, row in featured_data_encoded.iterrows():
    features_str = ", ".join(f"{col}: {row[col]}" for col in feature_columns if col != 'id')
    prompt += f"Candidate {i}: {features_str}\n"

prompt += (
    "\nAnalyze each candidate and return ONLY the ranking as a Python list of indices.\n"
    "Format: [most_suitable_index, second_most_suitable_index, ..., least_suitable_index]\n"
    "Example: [22, 13, 47, 2, 45, ...]\n\n"
    "Do not include any explanations, code, or other text. Only return the list."
)

try:
    # Initialize Gemini model
    model = genai.GenerativeModel('gemini-1.5-flash')
    
    # Generate content with specific instructions
    response = model.generate_content(
        prompt,
        generation_config=genai.types.GenerationConfig(
            temperature=0.1,  # Lower temperature for more consistent output
            max_output_tokens=1000,  # Limit output length
        )
    )
    
    print("Gemini Ranking Response:")
    print(response.text)
    
    # Try to extract the list if Gemini still returns extra text
    import re
    text = response.text.strip()
    
    # Look for a list pattern in the response
    list_match = re.search(r'\[[\d,\s]+\]', text)
    if list_match:
        ranking_list = list_match.group()
        print(f"\nExtracted ranking list: {ranking_list}")
        
        # Convert to actual Python list
        try:
            ranking = eval(ranking_list)
            print(f"Final ranking: {ranking}")
        except:
            print("Could not convert to Python list")
    else:
        print("No list pattern found in response")
        
except Exception as e:
    print(f"Error generating content: {e}")

Gemini Ranking Response:
[22, 13, 47, 7, 2, 45, 10, 11, 17, 37, 5, 14, 16, 29, 30, 31, 32, 18, 48, 20, 23, 24, 25, 26, 27, 49, 19, 6, 36, 12, 15, 21, 0, 28, 34, 40, 38, 44, 39, 43, 50, 46, 41, 52, 33, 35, 1, 3, 4, 9, 42, 51, 8]


Extracted ranking list: [22, 13, 47, 7, 2, 45, 10, 11, 17, 37, 5, 14, 16, 29, 30, 31, 32, 18, 48, 20, 23, 24, 25, 26, 27, 49, 19, 6, 36, 12, 15, 21, 0, 28, 34, 40, 38, 44, 39, 43, 50, 46, 41, 52, 33, 35, 1, 3, 4, 9, 42, 51, 8]
Final ranking: [22, 13, 47, 7, 2, 45, 10, 11, 17, 37, 5, 14, 16, 29, 30, 31, 32, 18, 48, 20, 23, 24, 25, 26, 27, 49, 19, 6, 36, 12, 15, 21, 0, 28, 34, 40, 38, 44, 39, 43, 50, 46, 41, 52, 33, 35, 1, 3, 4, 9, 42, 51, 8]

In [13]:
import re

# Extract the ranking list from response.text
ranking_str = re.search(r"\[(.*?)\]", response.text, re.DOTALL).group(1)
ranking_list = [int(x.strip()) for x in ranking_str.split(",") if x.strip().isdigit()]
print("Ranking list:", ranking_list)

# Add a 'gemini_rank' column to featured_data
featured_data['gemini_rank_all_features'] = 0
for rank, idx in enumerate(ranking_list):
    featured_data.at[idx, 'gemini_rank_all_features'] = rank + 1  

# Sort the dataframe by 'gemini_rank'
featured_data_sorted = featured_data.sort_values('gemini_rank_all_features').reset_index(drop=True)
featured_data_sorted.head()

Ranking list: [22, 13, 47, 7, 2, 45, 10, 11, 17, 37, 5, 14, 16, 29, 30, 31, 32, 18, 48, 20, 23, 24, 25, 26, 27, 49, 19, 6, 36, 12, 15, 21, 0, 28, 34, 40, 38, 44, 39, 43, 50, 46, 41, 52, 33, 35, 1, 3, 4, 9, 42, 51, 8]

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score,gemini_rank_all_features
0,74,Human Resources Professional,Greater Boston Area,16,human resource professional,1,[[ 5.59082031e-02 9.22851562e-02 1.07910156e...,[-8.09803382e-02 6.19282797e-02 -2.31060926e-...,1.000000,[[ 1.6608e-01 3.1670e-01 -5.8249e-01 -3.0978e...,1.000000,1.000000,0.00,2,0.0,United States,Boston,Greater Boston Area,0.032,1
1,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,seek human resource opportunity,1,[[-0.05517578 0.17578125 -0.08349609 ... 0.1...,[-2.53729746e-02 2.00322401e-02 -7.65634235e-...,0.906251,[[-0.10193 -0.34347 -0.4262 ... -0.0883...,0.958798,0.849017,0.00,2,0.0,United States,Chicago,Illinois,0.780,2
2,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,seek human resource position,1,[[-0.05517578 0.17578125 -0.08349609 ... 0.1...,[-2.43909173e-02 6.71841670e-03 -2.13245172e-...,0.919917,[[-0.10193 -0.34347 -0.4262 ... -0.0883...,0.939527,0.886942,0.00,2,0.0,United States,Las Vegas,Nevada Area,0.096,3
3,8,HR Senior Specialist,San Francisco Bay Area,500+,human resource senior specialist,1,[[ 0.0559082 0.09228516 0.10791016 ... -0.0...,[-7.98110962e-02 7.16269389e-02 -3.02539356e-...,0.778913,[[ 0.16608 0.3167 -0.58249 ... 0.2401...,0.824274,0.802708,0.75,2,0.0,United States,San Francisco,Bay Area,1.000,4
4,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,0.903204,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.927182,0.843197,0.00,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088,5