In [101]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'serif'

In [102]:
featured_data = pd.read_csv('extracted_features_candidate_data_ver3.csv')
featured_data.head()

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c t bauer college business graduate m...,1,[[-0.20800781 0.03417969 0.02575684 ... 0.0...,[-8.36746246e-02 3.46024260e-02 -1.73351355e-...,0.572644,[[-6.1878e-01 -4.9302e-02 3.5098e-01 ... -2.4...,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik english program ...,0,[[ 0.26367188 0.28125 -0.05493164 ... -0.2...,[-2.04139259e-02 1.74007919e-02 5.13645560e-...,0.236671,[[-0.70018 0.053196 -0.20213 ... -0.22181 ...,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,0.903204,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,0,[[ 0.26367188 -0.01916504 0.02893066 ... -0.0...,[-1.06938034e-01 -1.27687156e-02 -7.28640631e-...,0.285902,[[-0.41355 0.076012 0.099178 ... 0.15953 ...,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,0,[[-0.08837891 -0.17773438 0.1953125 ... -0.0...,[-8.32213387e-02 1.65026933e-02 -7.30818463e-...,0.251144,[[ 0.29924 -0.056401 -0.10924 ... 0.1007...,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [103]:
featured_data.shape

(53, 19)

In [104]:
featured_data_embeddings_dropped = featured_data.drop(columns=[
    'location',
    'connection',
    'job_title_lemmatized',
    'word2vec_embeddings',
    'sentence_embeddings',
    'glove_embeddings'
])
featured_data_embeddings_dropped.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [105]:
print("Unique country count:", featured_data_embeddings_dropped['country'].nunique())
print("Unique region count:", featured_data_embeddings_dropped['region'].nunique())
print("Unique city count:", featured_data_embeddings_dropped['city'].nunique())

Unique country count: 4
Unique region count: 28
Unique city count: 34

In [106]:
# Drop 'city' and 'region' columns
featured_data_encoded = featured_data_embeddings_dropped.drop(columns=['city', 'region'])

# One-hot encode the 'country' categorical feature
featured_data_encoded = pd.get_dummies(featured_data_encoded, columns=['country'])

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_Amerika Birleşik Devletleri,country_Canada,country_Türkiye,country_United States
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

In [107]:
featured_data_encoded.shape

(53, 14)

In [108]:
# Rename the 3 country columns in featured_data_encoded
country_columns = [
    'country_Amerika Birleşik Devletleri',
    'country_Canada',
    'country_Türkiye',
    'country_United States'
]
new_country_columns = ['country_1', 'country_2', 'country_3', 'country_4']

featured_data_encoded = featured_data_encoded.rename(
    columns=dict(zip(country_columns, new_country_columns))
)

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

#### Will be using only glove similarity here.

In [109]:
from sklearn.preprocessing import StandardScaler
import numpy as np

class InitialRanker:
    def __init__(self):
        self.feature_weights = {
            'glove_max_similarity': 0.4,    
            'has_hr': 0.25,
            'seniority_score': 0.15,
            'connection_score': 0.075,
            'country_1': 0.025,
            'country_2': 0.025,
            'country_3': 0.025,
            'country_4': 0.025,
            'experience_score':0.025,
        }
        self.scaler = StandardScaler()
    
    def rank_results(self, features_df):
        # Normalize features
        normalized_features = self.scaler.fit_transform(features_df)
        
        # Calculate weighted score
        scores = np.zeros(len(features_df))
        for i, (feature, weight) in enumerate(self.feature_weights.items()):
            scores += weight * normalized_features[:, i]
        
        # Min-max scale scores to [0, 1]
        min_score = scores.min()
        max_score = scores.max()
        if max_score > min_score:
            scores_scaled = (scores - min_score) / (max_score - min_score)
        else:
            scores_scaled = np.zeros_like(scores)
        
        # Return ranked indices and scaled scores
        ranked_indices = np.argsort(scores_scaled)[::-1]
        return ranked_indices, scores_scaled

In [110]:
featured_data_encoded.isnull().sum()

id                         0
job_title                  0
has_hr                     0
word2vec_max_similarity    0
glove_max_similarity       0
sentence_max_similarity    0
seniority_score            0
similarity_cluster         0
experience_score           0
connection_score           0
country_1                  0
country_2                  0
country_3                  0
country_4                  0
dtype: int64

#### Weight based Initial ranking system without a ML model

In [111]:
req_data = featured_data_encoded.drop(columns=['id','job_title', 'word2vec_max_similarity','sentence_max_similarity','id','similarity_cluster'], axis=1)

# Select the features to use for ranking based on InitialRanker.feature_weights
features_for_ranking = req_data.columns

# Extract the relevant features from the dataframe
features_df = featured_data_encoded[features_for_ranking]

# Instantiate the ranker and get the ranked indices
ranker = InitialRanker()
ranked_indices, scores = ranker.rank_results(features_df)

# Add a 'rank' column to the dataframe based on the ranking
featured_data_encoded['rank'] = 0
featured_data_encoded.loc[ranked_indices, 'rank'] = range(1, len(featured_data_encoded) + 1)

featured_data_encoded['scaled_score'] = 0.0
featured_data_encoded.loc[ranked_indices, 'scaled_score'] = scores[ranked_indices]

# Display the top 10 ranked entries
featured_data_encoded.sort_values('rank').head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score
14,66,Experienced Retail Manager and aspiring Human ...,1,0.777616,0.845250,0.681646,0.70,2,1.0,0.114,False,False,False,True,1,1.000000
21,73,"Aspiring Human Resources Manager, seeking inte...",1,0.852135,0.910535,0.619586,0.70,2,0.0,0.014,False,False,False,True,2,0.795570
7,8,HR Senior Specialist,1,0.778913,0.824274,0.802708,0.75,2,0.0,1.000,False,False,False,True,3,0.779280
32,84,Human Resources professional for the world lea...,1,0.807354,0.836619,0.589210,0.80,2,0.0,0.100,False,False,False,True,4,0.772234
37,89,Director Human Resources at EY,1,0.675315,0.759261,0.685894,0.90,0,0.0,0.698,False,False,False,True,5,0.759849

#### Randomly star one candidate

In [112]:
# Randomly star one candidate among the ranked candidates
np.random.seed(45)  # For reproducibility
random_star_idx = np.random.choice(ranked_indices)

# Compute new feature weights based on correlation with the starred candidate
starred_features = features_df.loc[random_star_idx].values
all_features = features_df.values

features_df.loc[random_star_idx]

has_hr                         1
glove_max_similarity    0.777678
seniority_score              0.7
experience_score             0.0
connection_score           0.206
country_1                  False
country_2                  False
country_3                  False
country_4                   True
Name: 48, dtype: object

In [113]:
starred_features

array([1, 0.77767754, 0.7, 0.0, 0.206, False, False, False, True],
      dtype=object)

In [114]:
print(all_features)

[[1 0.5592798 0.0 0.0 0.17 False False False True]
 [0 0.40910956 0.0 0.0 1.0 False True False False]
 [1 0.92718184 0.0 0.0 0.088 False False False True]
 [0 0.5094455 0.0 0.0 1.0 False False False True]
 [0 0.32914257 0.0 0.0 1.0 False False True False]
 [1 0.84144753 0.6 0.0 0.002 False False False True]
 [1 0.6664656 0.0 0.0 0.122 False True False False]
 [1 0.82427436 0.75 0.0 1.0 False False False True]
 [1 0.91596663 0.0 0.0 1.0 False False False True]
 [0 0.3684305 0.0 0.0 0.004 False False False True]
 [1 0.699335 1.0 0.0 1.0 False False False True]
 [1 0.59733087 0.9 0.0 1.0 False False False True]
 [1 0.8064305 0.05 0.0 1.0 False False False True]
 [1 0.9587977 0.0 0.0 0.78 False False False True]
 [1 0.8452498 0.7 1.0 0.114 False False False True]
 [1 0.8798246 0.0 0.0 1.0 False False False True]
 [1 0.73507535 0.6 0.0 1.0 False False False True]
 [1 0.6536836 0.9 0.0 1.0 False False False True]
 [1 0.6805555 0.7 0.0 0.164 False False False True]
 [1 0.763849 0.0 0.0 1.0 False False False True]
 [1 0.7885311 0.7 0.0 0.01 False False False True]
 [1 0.91053474 0.7 0.0 0.014 False False False True]
 [1 1.0 0.0 0.0 0.032 False False False True]
 [1 0.69444346 0.0 0.0 1.0 False False False True]
 [1 0.7833528 0.0 0.0 0.424 False False False True]
 [1 0.74344957 0.0 0.0 0.818 False False False True]
 [1 0.6549085 0.0 0.0 1.0 False False False True]
 [1 0.723327 0.0 0.0 0.014 False False False True]
 [0 0.46001926 0.2 0.0 0.104 False False False True]
 [1 0.77398264 0.75 0.0 0.91 False False False True]
 [1 0.76707214 0.8 0.0 0.348 False False False True]
 [1 0.6530646 0.7 0.0 0.536 False False False True]
 [1 0.83661866 0.8 0.0 0.1 False False False True]
 [0 0.30359635 0.95 0.0 1.0 False False False True]
 [0 0.6049871 0.6 0.0 0.008 False False False True]
 [0 0.4131854 0.0 0.0 0.08 False False False True]
 [1 0.8514869 0.0 0.0 0.036 False False False True]
 [1 0.7592608 0.9 0.0 0.698 False False False True]
 [0 0.48657262 0.0 0.0 0.31 False False False True]
 [0 0.45115584 0.8 0.0 0.078 False False False True]
 [0 0.65397304 0.0 0.0 0.128 False False False True]
 [0 0.52256966 0.0 0.0 0.018 False False False True]
 [0 0.86116177 0.0 0.0 0.83 True False False False]
 [0 0.38451475 0.0 0.0 0.114 False False False True]
 [0 0.4635079 0.7 0.0 0.038 False False False True]
 [1 0.92718184 0.0 0.0 0.142 False False False True]
 [0 0.40640005 0.0 0.0 0.008 False False False True]
 [1 0.9395267 0.0 0.0 0.096 False False False True]
 [1 0.77767754 0.7 0.0 0.206 False False False True]
 [1 0.79672617 0.0 0.0 1.0 False False False True]
 [0 0.42366898 0.0 0.0 0.098 False False False True]
 [0 0.39535093 0.0 0.0 1.0 False False False True]
 [0 0.5512982 0.9 0.0 1.0 False False False True]]

In [115]:
featured_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       53 non-null     int64
 1   job_title                53 non-null     object
 2   location                 53 non-null     object
 3   connection               53 non-null     object
 4   job_title_lemmatized     53 non-null     object
 5   has_hr                   53 non-null     int64
 6   word2vec_embeddings      53 non-null     object
 7   sentence_embeddings      53 non-null     object
 8   word2vec_max_similarity  53 non-null     float64
 9   glove_embeddings         53 non-null     object
 10  glove_max_similarity     53 non-null     float64
 11  sentence_max_similarity  53 non-null     float64
 12  seniority_score          53 non-null     float64
 13  similarity_cluster       53 non-null     int64
 14  experience_score         53 non-null     float64
 15  country                  53 non-null     object
 16  city                     48 non-null     object
 17  region                   51 non-null     object
 18  connection_score         53 non-null     float64
dtypes: float64(6), int64(3), object(10)
memory usage: 8.0+ KB

In [116]:
featured_data.loc[random_star_idx]

id                                                                       100
job_title                  Aspiring Human Resources Manager | Graduating ...
location                                            Cape Girardeau, Missouri
connection                                                               103
job_title_lemmatized       aspire human resource manager   graduating 202...
has_hr                                                                     1
word2vec_embeddings        [[-0.07910156  0.05908203  0.16210938 ... -0.2...
sentence_embeddings        [-3.10261883e-02  5.98907331e-03 -1.84671171e-...
word2vec_max_similarity                                             0.733545
glove_embeddings           [[ 0.042918   0.90274   -0.14664   ... -0.0568...
glove_max_similarity                                                0.777678
sentence_max_similarity                                             0.646315
seniority_score                                                          0.7
similarity_cluster                                                         0
experience_score                                                         0.0
country                                                        United States
city                                                          Cape Girardeau
region                                                              Missouri
connection_score                                                       0.206
Name: 48, dtype: object

#### Extracting the glove embeddings for this entry and computing the similarity scores with the other entries and then re-ranking based on the scores

In [117]:
from sklearn.metrics.pairwise import cosine_similarity

def max_cosine_similarity(embeddings, keyword_embs):
    """
    Compute cosine similarities between all keyword embeddings and a candidate embedding,
    and return the maximum similarity.
    """
    if embeddings is None or callable(embeddings):
        return None
    # Each candidate embedding may be a list of token vectors (Word2Vec/Glove) or a single vector (SentenceTransformer)
    # For token embeddings, average to get a single vector
    if isinstance(embeddings, list) or (isinstance(embeddings, np.ndarray) and embeddings.ndim == 2):
        if len(embeddings) == 0:
            return None
        candidate_vec = np.mean(np.array(embeddings), axis=0)
    else:
        candidate_vec = np.array(embeddings)

    max_sim = None
    for keyword_emb in keyword_embs:
        # For token embeddings, average to get a single vector
        if isinstance(keyword_emb, list) or (isinstance(keyword_emb, np.ndarray) and keyword_emb.ndim == 2):
            keyword_vec = np.mean(np.array(keyword_emb), axis=0)
        else:
            keyword_vec = np.array(keyword_emb)
        sim = cosine_similarity(
            keyword_vec.reshape(1, -1),
            candidate_vec.reshape(1, -1)
        )[0, 0]
        if (max_sim is None) or (sim > max_sim):
            max_sim = sim
    return max_sim

In [118]:
import pickle
stored_glove_embeddings = pickle.load(open('glove_embeddings.pkl', 'rb'))

In [119]:
from sklearn.metrics.pairwise import cosine_similarity

# Get the id of the randomly starred candidate
starred_id = featured_data.loc[random_star_idx, 'id']

# Get the starred candidate's glove embedding
starred_embedding = stored_glove_embeddings[float(starred_id)].mean(axis=0).reshape(1, -1)

# Prepare all candidate glove embeddings (mean-pooled)
all_ids = featured_data['id'].astype(float).values
all_embeddings = np.array([
    stored_glove_embeddings[id_].mean(axis=0) if id_ in stored_glove_embeddings else np.zeros(starred_embedding.shape[1])
    for id_ in all_ids
])

# Compute cosine similarity scores
similarity_scores = cosine_similarity(starred_embedding, all_embeddings)[0]

# Add similarity scores to the dataframe
featured_data['glove_similarity_with_starred'] = similarity_scores

# Show top 10 most similar candidates
featured_data.sort_values('glove_similarity_with_starred', ascending=False).head(10)

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score,glove_similarity_with_starred
48,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,aspire human resource manager graduating 202...,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-3.10261883e-02 5.98907331e-03 -1.84671171e-...,0.733545,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.777678,0.646315,0.70,0,0.0,United States,Cape Girardeau,Missouri,0.206,1.000000
47,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,seek human resource position,1,[[-0.05517578 0.17578125 -0.08349609 ... 0.1...,[-2.43909173e-02 6.71841670e-03 -2.13245172e-...,0.919917,[[-0.10193 -0.34347 -0.4262 ... -0.0883...,0.939527,0.886942,0.00,2,0.0,United States,Las Vegas,Nevada Area,0.096,0.830688
21,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,aspire human resource manager seek internshi...,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-4.06365134e-02 8.03943444e-03 -2.52593569e-...,0.852135,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.910535,0.619586,0.70,2,0.0,United States,Houston,Texas Area,0.014,0.822043
20,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,business management major aspire human resourc...,1,[[ 0.01037598 -0.04858398 -0.12695312 ... 0.1...,[-5.28264903e-02 2.68148333e-02 -6.07161596e-...,0.745004,[[ 0.0097015 0.25098 0.22338 ... -0.3869...,0.788531,0.652678,0.70,0,0.0,United States,Monroe,Louisiana Area,0.010,0.809469
30,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,aspire human resource professional energetic...,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-2.18979139e-02 1.02870487e-01 -7.19183534e-...,0.730339,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.767072,0.641013,0.80,0,0.0,United States,Austin,Texas Area,0.348,0.803609
12,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500+,aspire human resource management student seek ...,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-1.67310834e-02 3.75464349e-03 -3.15526687e-...,0.746653,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.806431,0.542803,0.05,2,0.0,United States,Houston,Texas Area,1.000,0.788392
13,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,seek human resource opportunity,1,[[-0.05517578 0.17578125 -0.08349609 ... 0.1...,[-2.53729746e-02 2.00322401e-02 -7.65634235e-...,0.906251,[[-0.10193 -0.34347 -0.4262 ... -0.0883...,0.958798,0.849017,0.00,2,0.0,United States,Chicago,Illinois,0.780,0.786352
42,94,Seeking Human Resources Opportunities. Open t...,Amerika Birleşik Devletleri,415,seek human resource opportunity open trave...,0,[[-0.05517578 0.17578125 -0.08349609 ... 0.1...,[ 1.04936764e-01 -6.53318688e-02 1.24070758e-...,0.755784,[[-0.10193 -0.34347 -0.4262 ... -0.0883...,0.861162,0.507269,0.00,2,0.0,Amerika Birleşik Devletleri,NaN,NaN,0.830,0.780805
36,88,Human Resources Management Major,"Milpitas, California",18,human resource management major,1,[[ 0.0559082 0.09228516 0.10791016 ... -0.0...,[-4.21226434e-02 5.29333912e-02 -2.60268748e-...,0.821198,[[ 0.16608 0.3167 -0.58249 ... 0.2401...,0.851487,0.755799,0.00,2,0.0,United States,Milpitas,California,0.036,0.775240
18,70,"Retired Army National Guard Recruiter, office ...","Virginia Beach, Virginia",82,retire army national guard recruiter office ...,1,[[ 0.10888672 -0.18066406 -0.21484375 ... -0.1...,[-1.11894563e-01 7.35382829e-03 -5.18809147e-...,0.578547,[[-0.28577 -0.12945 0.29774 ... -0.6760...,0.680555,0.564994,0.70,0,0.0,United States,Virginia Beach,Virginia,0.164,0.771852

#### Another method: trying to find out the effect of the starring process on the different features used in the initial ranking algorithm.

#### The process is built on a constrained optimization process

In [120]:
from scipy.optimize import minimize, linprog
from scipy.sparse import csc_matrix

def optimization_process(all_features, starred_idx, w_original,handle_duplicates=True, epsilon=1e-3):
    """
    Guaranteed method to place starred entry at rank 1
    """

    processed_features = all_features.copy()
    
    x_starred = processed_features[starred_idx]
    n_entries, n_features = processed_features.shape
    
    print(f"Processing {n_entries} entries with {n_features} features")
    
    # Step 2: Build constraint matrix for ranking
    A_ineq, b_ineq = build_ranking_constraints(processed_features, starred_idx, epsilon)
    
    # Step 3: Check feasibility
    if not check_constraint_feasibility(A_ineq, b_ineq):
        print("WARNING: Constraints may be infeasible. Adjusting...")
        epsilon = epsilon / 10
        A_ineq, b_ineq = build_ranking_constraints(processed_features, starred_idx, epsilon)
    
    # Step 4: Solve optimization
    w_optimal = solve_constrained_optimization(A_ineq, b_ineq, w_original)
    
    # Step 5: Verify and post-process
    w_final = verify_and_adjust(processed_features, starred_idx, w_optimal, epsilon)
    
    return w_final

#### The optimization constraints are built here

In [121]:
def build_ranking_constraints(features, starred_idx, epsilon):
    """
    Build constraint matrix: A_ineq @ w >= b_ineq ensures starred entry ranks first
    Constraint: w^T(x* - x_i) >= epsilon for all i != starred
    """
    x_starred = features[starred_idx]
    n_entries, n_features = features.shape
    
    # Number of constraints = number of other entries
    n_constraints = n_entries - 1
    
    A_ineq = np.zeros((n_constraints, n_features))
    b_ineq = np.full(n_constraints, epsilon)
    
    constraint_idx = 0
    for i in range(n_entries):
        if i != starred_idx:
            # Constraint: (x* - x_i)^T w >= epsilon
            A_ineq[constraint_idx] = x_starred - features[i]
            constraint_idx += 1
    
    return A_ineq, b_ineq

#### A check to see if the chosen constraints can solve the optimization problem - if not, need to reduce the epsilon value

In [122]:
def check_constraint_feasibility(A_ineq, b_ineq):
    """
    Check if the constraint system Aw >= b has a solution
    """
    # Use linear programming to check feasibility
    # minimize 0^T w subject to Aw >= b
    
    n_vars = A_ineq.shape[1]
    c = np.zeros(n_vars)  # Objective doesn't matter for feasibility
    
    # Convert to standard form: -Aw <= -b
    A_ub = -A_ineq
    b_ub = -b_ineq
    
    # Add bounds to prevent unbounded solution
    bounds = [(-1000, 1000) for _ in range(n_vars)]
    
    try:
        result = linprog(c, A_ub=A_ub, b_ub=b_ub, bounds=bounds, method='highs')
        feasible = result.success
        print(f"Feasibility check: {'FEASIBLE' if feasible else 'INFEASIBLE'}")
        return feasible
    except:
        print("Feasibility check failed - assuming feasible")
        return True

#### The optimization function is built on the different optimization methods - SLSQP and trust constrained

In [123]:
def solve_constrained_optimization(A_ineq, b_ineq, w_original):
    """
    Solve the constrained optimization problem
    """
    n_features = len(w_original)
    
    def objective(w):
        return np.sum((w - w_original)**2)
    
    def constraint_function(w):
        return A_ineq @ w - b_ineq  # Should be >= 0
    
    def normalization_constraint(w):
        return np.linalg.norm(w) - 1  # Should be = 0
    
    constraints = [
        {'type': 'ineq', 'fun': constraint_function},
        {'type': 'eq', 'fun': normalization_constraint}
    ]
    
    # Start with normalized original weights
    w0 = w_original / np.linalg.norm(w_original)
    
    # Try multiple optimization methods
    methods = ['SLSQP', 'trust-constr']
    
    for method in methods:
        try:
            print(f"Trying optimization method: {method}")
            result = minimize(objective, w0, constraints=constraints, 
                            method=method, options={'maxiter': 1000})
            
            if result.success:
                print(f"Optimization successful with {method}")
                return result.x
            else:
                print(f"Method {method} failed: {result.message}")
                
        except Exception as e:
            print(f"Method {method} raised exception: {e}")
            continue
    
    # Fallback: Use the constraint that matters most
    print("All methods failed. Using fallback approach...")
    return fallback_solution(A_ineq, b_ineq, w_original)

#### If optimization using the above methods are not possible, a different method utilizing a brute force approach trying to reduce the most violatred constraint is followed.

In [124]:
def fallback_solution(A_ineq, b_ineq, w_original):
    """
    Fallback solution when optimization fails
    """
    # Find the direction that maximally satisfies constraints
    # Use the constraint with minimum margin
    
    n_features = A_ineq.shape[1]
    
    # Average constraint direction, weighted by violation
    w_current = w_original / np.linalg.norm(w_original)
    
    for iteration in range(100):
        violations = A_ineq @ w_current - b_ineq
        violated_indices = violations < 0
        
        if not np.any(violated_indices):
            break  # All constraints satisfied
        
        # Move in direction of most violated constraint
        worst_constraint_idx = np.argmin(violations)
        direction = A_ineq[worst_constraint_idx]
        
        # Step in that direction
        step_size = 0.1
        w_new = w_current + step_size * direction
        w_current = w_new / np.linalg.norm(w_new)
    
    return w_current

#### The final solution is obtained.

In [125]:
def verify_and_adjust(features, starred_idx, w_solution, epsilon):
    """
    Verify the solution and make final adjustments if needed
    """
    scores = features @ w_solution
    starred_score = scores[starred_idx]
    
    # Check if starred entry is actually rank 1
    other_scores = np.delete(scores, starred_idx)
    max_other_score = np.max(other_scores)
    
    if starred_score <= max_other_score:
        print(f"WARNING: Starred score {starred_score:.6f} <= max other {max_other_score:.6f}")
        
        # Force adjustment: boost starred entry's score
        x_starred = features[starred_idx]
        
        # Find feature with maximum positive impact
        best_feature_idx = np.argmax(np.abs(x_starred))
        
        # Slightly increase weight for that feature
        w_adjusted = w_solution.copy()
        adjustment = (max_other_score - starred_score + epsilon) / x_starred[best_feature_idx]
        w_adjusted[best_feature_idx] += adjustment
        
        # Renormalize
        w_final = w_adjusted / np.linalg.norm(w_adjusted)
        
        print("Applied final adjustment")
    else:
        w_final = w_solution
    
    # Final verification
    final_scores = features @ w_final
    final_ranks = (-final_scores).argsort().argsort() + 1
    
    print(f"\n=== FINAL RESULTS ===")
    print(f"Starred entry rank: {final_ranks[starred_idx]}")
    print(f"Starred entry score: {final_scores[starred_idx]:.6f}")
    print(f"Second highest score: {np.sort(final_scores)[-2]:.6f}")
    print(f"Score margin: {final_scores[starred_idx] - np.sort(final_scores)[-2]:.6f}")
    
    # Show top 5
    top_indices = np.argsort(-final_scores)[:5]
    print("\nTop 5 entries:")
    for i, idx in enumerate(top_indices):
        marker = "⭐ STARRED" if idx == starred_idx else ""
        print(f"{i+1}. Index {idx}: {final_scores[idx]:.6f} {marker}")
    
    if final_ranks[starred_idx] != 1:
        print(f"WARNING: Starred entry rank is {final_ranks[starred_idx]}, not 1!")
    
    return w_final

In [126]:
# Usage
def run_optimization(all_features, starred_idx, w_original):
    """
    Main function to run the guaranteed rank-1 method
    """
    print("=" * 50)
    print("INVERSE OPTIMIZATION")
    print("=" * 50)
    
    w_final = optimization_process(
        all_features, starred_idx, w_original, 
        handle_duplicates=True, epsilon=1e-4
    )
    
    return w_final


w_original = np.array([ranker.feature_weights[f] for f in features_df.columns])
w_new = run_optimization(all_features, random_star_idx, w_original)

==================================================
INVERSE OPTIMIZATION
==================================================
Processing 53 entries with 9 features
Feasibility check: INFEASIBLE
WARNING: Constraints may be infeasible. Adjusting...
Trying optimization method: SLSQP
Method SLSQP failed: Positive directional derivative for linesearch
Trying optimization method: trust-constr

d:\Apziva\Project3\nlp_env\lib\site-packages\scipy\optimize\_differentiable_functions.py:504: UserWarning: delta_grad == 0.0. Check if the approximated function is linear. If the function is linear better results can be obtained by defining the Hessian as zero instead of using quasi-Newton approximations.
  self.H.update(delta_x, delta_g)
d:\Apziva\Project3\nlp_env\lib\site-packages\scipy\optimize\_trustregion_constr\equality_constrained_sqp.py:203: UserWarning: Singular Jacobian matrix. Using SVD decomposition to perform the factorizations.
  Z, LS, Y = projections(A, factorization_method)

Method trust-constr failed: The maximum number of function evaluations is exceeded.
All methods failed. Using fallback approach...
WARNING: Starred score 1.257850 <= max other 1.283162
Applied final adjustment

=== FINAL RESULTS ===
Starred entry rank: 9
Starred entry score: 1.252822
Second highest score: 1.273319
Score margin: -0.020496

Top 5 entries:
1. Index 21: 1.277535
2. Index 32: 1.273319
3. Index 37: 1.265166
4. Index 10: 1.262016
5. Index 7: 1.260589
WARNING: Starred entry rank is 9, not 1!