In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'serif'

In [2]:
featured_data = pd.read_csv('extracted_features_candidate_data_ver3.csv')
featured_data.head()

,id,job_title,location,connection,job_title_lemmatized,has_hr,word2vec_embeddings,sentence_embeddings,word2vec_max_similarity,glove_embeddings,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c t bauer college business graduate m...,1,[[-0.20800781 0.03417969 0.02575684 ... 0.0...,[-8.36746246e-02 3.46024260e-02 -1.73351355e-...,0.572644,[[-6.1878e-01 -4.9302e-02 3.5098e-01 ... -2.4...,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik english program ...,0,[[ 0.26367188 0.28125 -0.05493164 ... -0.2...,[-2.04139259e-02 1.74007919e-02 5.13645560e-...,0.236671,[[-0.70018 0.053196 -0.20213 ... -0.22181 ...,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,1,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,0.903204,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,0,[[ 0.26367188 -0.01916504 0.02893066 ... -0.0...,[-1.06938034e-01 -1.27687156e-02 -7.28640631e-...,0.285902,[[-0.41355 0.076012 0.099178 ... 0.15953 ...,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,0,[[-0.08837891 -0.17773438 0.1953125 ... -0.0...,[-8.32213387e-02 1.65026933e-02 -7.30818463e-...,0.251144,[[ 0.29924 -0.056401 -0.10924 ... 0.1007...,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [3]:
featured_data.shape

(53, 19)

In [4]:
featured_data_embeddings_dropped = featured_data.drop(columns=[
    'location',
    'connection',
    'job_title_lemmatized',
    'word2vec_embeddings',
    'sentence_embeddings',
    'glove_embeddings'
])
featured_data_embeddings_dropped.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,Türkiye,İzmir,NaN,1.000

In [5]:
print("Unique country count:", featured_data_embeddings_dropped['country'].nunique())
print("Unique region count:", featured_data_embeddings_dropped['region'].nunique())
print("Unique city count:", featured_data_embeddings_dropped['city'].nunique())

Unique country count: 4
Unique region count: 28
Unique city count: 34

In [6]:
# Drop 'city' and 'region' columns
featured_data_encoded = featured_data_embeddings_dropped.drop(columns=['city', 'region'])

# One-hot encode the 'country' categorical feature
featured_data_encoded = pd.get_dummies(featured_data_encoded, columns=['country'])

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_Amerika Birleşik Devletleri,country_Canada,country_Türkiye,country_United States
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

In [7]:
featured_data_encoded.shape

(53, 14)

In [8]:
# Rename the 3 country columns in featured_data_encoded
country_columns = [
    'country_Amerika Birleşik Devletleri',
    'country_Canada',
    'country_Türkiye',
    'country_United States'
]
new_country_columns = ['country_1', 'country_2', 'country_3', 'country_4']

featured_data_encoded = featured_data_encoded.rename(
    columns=dict(zip(country_columns, new_country_columns))
)

featured_data_encoded.head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,1,2019 C.T. Bauer College of Business Graduate (...,1,0.572644,0.559280,0.532657,0.0,1,0.0,0.170,False,False,False,True
1,2,Native English Teacher at EPIK (English Progra...,0,0.236671,0.409110,0.185627,0.0,1,0.0,1.000,False,True,False,False
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True
3,4,People Development Coordinator at Ryan,0,0.285902,0.509445,0.486340,0.0,1,0.0,1.000,False,False,False,True
4,5,Advisory Board Member at Celal Bayar University,0,0.251144,0.329143,0.282052,0.0,1,0.0,1.000,False,False,True,False

#### Will be using only glove similarity here.

In [9]:
from sklearn.preprocessing import StandardScaler
import numpy as np

class InitialRanker:
    def __init__(self):
        self.feature_weights = {
            'glove_max_similarity': 0.4,    
            'has_hr': 0.25,
            'seniority_score': 0.15,
            'connection_score': 0.075,
            'country_1': 0.025,
            'country_2': 0.025,
            'country_3': 0.025,
            'country_4': 0.025,
            'experience_score':0.025,
        }
        self.scaler = StandardScaler()
    
    def rank_results(self, features_df):
        # Normalize features
        normalized_features = self.scaler.fit_transform(features_df)
        
        # Calculate weighted score
        scores = np.zeros(len(features_df))
        for i, (feature, weight) in enumerate(self.feature_weights.items()):
            scores += weight * normalized_features[:, i]
        
        # Min-max scale scores to [0, 1]
        min_score = scores.min()
        max_score = scores.max()
        if max_score > min_score:
            scores_scaled = (scores - min_score) / (max_score - min_score)
        else:
            scores_scaled = np.zeros_like(scores)
        
        # Return ranked indices and scaled scores
        ranked_indices = np.argsort(scores_scaled)[::-1]
        return ranked_indices, scores_scaled

In [10]:
featured_data_encoded.isnull().sum()

id                         0
job_title                  0
has_hr                     0
word2vec_max_similarity    0
glove_max_similarity       0
sentence_max_similarity    0
seniority_score            0
similarity_cluster         0
experience_score           0
connection_score           0
country_1                  0
country_2                  0
country_3                  0
country_4                  0
dtype: int64

#### Weight based Initial ranking system without a ML model

In [11]:
req_data = featured_data_encoded.drop(columns=['id','job_title', 'word2vec_max_similarity','sentence_max_similarity','id','similarity_cluster'], axis=1)

# Select the features to use for ranking based on InitialRanker.feature_weights
features_for_ranking = req_data.columns

# Extract the relevant features from the dataframe
features_df = featured_data_encoded[features_for_ranking]

# Instantiate the ranker and get the ranked indices
ranker = InitialRanker()
ranked_indices, scores = ranker.rank_results(features_df)

# Add a 'rank' column to the dataframe based on the ranking
featured_data_encoded['rank'] = 0
featured_data_encoded.loc[ranked_indices, 'rank'] = range(1, len(featured_data_encoded) + 1)

featured_data_encoded['scaled_score'] = 0.0
featured_data_encoded.loc[ranked_indices, 'scaled_score'] = scores[ranked_indices]

# Display the top 10 ranked entries
featured_data_encoded.sort_values('rank').head()

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score
14,66,Experienced Retail Manager and aspiring Human ...,1,0.777616,0.845250,0.681646,0.70,2,1.0,0.114,False,False,False,True,1,1.000000
21,73,"Aspiring Human Resources Manager, seeking inte...",1,0.852135,0.910535,0.619586,0.70,2,0.0,0.014,False,False,False,True,2,0.795570
7,8,HR Senior Specialist,1,0.778913,0.824274,0.802708,0.75,2,0.0,1.000,False,False,False,True,3,0.779280
32,84,Human Resources professional for the world lea...,1,0.807354,0.836619,0.589210,0.80,2,0.0,0.100,False,False,False,True,4,0.772234
37,89,Director Human Resources at EY,1,0.675315,0.759261,0.685894,0.90,0,0.0,0.698,False,False,False,True,5,0.759849

#### Randomly star one candidate

In [12]:
# Randomly star one candidate among the ranked candidates
np.random.seed(45)  # For reproducibility
random_star_idx = np.random.choice(ranked_indices)

# Compute new feature weights based on correlation with the starred candidate
starred_features = features_df.loc[random_star_idx].values
all_features = features_df.values

features_df.loc[random_star_idx]

has_hr                         1
glove_max_similarity    0.777678
seniority_score              0.7
experience_score             0.0
connection_score           0.206
country_1                  False
country_2                  False
country_3                  False
country_4                   True
Name: 48, dtype: object

In [13]:
starred_features

array([1, 0.77767754, 0.7, 0.0, 0.206, False, False, False, True],
      dtype=object)

In [14]:
featured_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       53 non-null     int64
 1   job_title                53 non-null     object
 2   location                 53 non-null     object
 3   connection               53 non-null     object
 4   job_title_lemmatized     53 non-null     object
 5   has_hr                   53 non-null     int64
 6   word2vec_embeddings      53 non-null     object
 7   sentence_embeddings      53 non-null     object
 8   word2vec_max_similarity  53 non-null     float64
 9   glove_embeddings         53 non-null     object
 10  glove_max_similarity     53 non-null     float64
 11  sentence_max_similarity  53 non-null     float64
 12  seniority_score          53 non-null     float64
 13  similarity_cluster       53 non-null     int64
 14  experience_score         53 non-null     float64
 15  country                  53 non-null     object
 16  city                     48 non-null     object
 17  region                   51 non-null     object
 18  connection_score         53 non-null     float64
dtypes: float64(6), int64(3), object(10)
memory usage: 8.0+ KB

#### Using a learning to rank model to re-rank the candidates based on the starred candidate

In [15]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
from torch.distributions import Categorical
import random

In [16]:
class LearningToRankModel(nn.Module):
    def __init__(self, feature_dim=8, hidden_dim=128):
        super().__init__()
        self.fc = nn.Sequential(
            nn.Linear(feature_dim, hidden_dim),
            nn.ReLU(),
            nn.Linear(hidden_dim, hidden_dim),
            nn.ReLU(),
            nn.Linear(hidden_dim, 1)
        )
    
    def forward(self, features):
        return self.fc(features).squeeze(-1)

In [17]:
class LTRReranker:
    def __init__(self, feature_dim=8, lr=0.001):
        self.model = LearningToRankModel(feature_dim)
        self.optimizer = optim.Adam(self.model.parameters(), lr=lr)
        self.criterion = nn.MarginRankingLoss(margin=1.0)
    
    def create_pairwise_data(self, features, starred_idx):
        """Create pairwise training data"""
        pairs = []
        labels = []
        
        starred_features = features[starred_idx]
        
        for i in range(len(features)):
            if i != starred_idx:
                pairs.append((starred_features, features[i]))
                labels.append(1)  # starred candidate should rank higher
        
        return pairs, labels
    
    def train(self, features, starred_idx, epochs=100):
        """Train the ranking model"""
        pairs, labels = self.create_pairwise_data(features, starred_idx)
        
        for epoch in range(epochs):
            total_loss = 0
            
            for (feat1, feat2), label in zip(pairs, labels):
                self.optimizer.zero_grad()
                
                score1 = self.model(feat1.unsqueeze(0))
                score2 = self.model(feat2.unsqueeze(0))
                
                target = torch.tensor([float(label)])
                loss = self.criterion(score1, score2, target)
                
                loss.backward()
                self.optimizer.step()
                total_loss += loss.item()
            
            if epoch % 20 == 0:
                print(f"Epoch {epoch}, Loss: {total_loss/len(pairs):.4f}")
    
    def rerank(self, features):
        """Rerank all candidates based on learned model"""
        with torch.no_grad():
            scores = self.model(features)
            ranked_indices = torch.argsort(scores, descending=True)
            return ranked_indices.numpy()

In [18]:
import torch

# Prepare features as a torch tensor for the LTRReranker

# Convert boolean columns to float for PyTorch compatibility
features_tensor = torch.tensor(features_df.astype(float).values, dtype=torch.float32)

# Instantiate the reranker
reranker = LTRReranker(feature_dim=features_tensor.shape[1], lr=0.001)

# Train the reranker using the starred candidate
reranker.train(features_tensor, starred_idx=random_star_idx, epochs=100)

# Get the new ranking
ltr_ranked_indices = reranker.rerank(features_tensor)

# Display the top 10 re-ranked candidates
featured_data_encoded.iloc[ltr_ranked_indices].head(10)

Epoch 0, Loss: 0.6444
Epoch 20, Loss: 0.0269
Epoch 40, Loss: 0.0000
Epoch 60, Loss: 0.0000
Epoch 80, Loss: 0.0000

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score
48,100,Aspiring Human Resources Manager | Graduating ...,1,0.733545,0.777678,0.646315,0.7,0,0.0,0.206,False,False,False,True,12,0.723759
18,70,"Retired Army National Guard Recruiter, office ...",1,0.578547,0.680555,0.564994,0.7,0,0.0,0.164,False,False,False,True,22,0.666656
30,82,Aspiring Human Resources Professional | An ene...,1,0.730339,0.767072,0.641013,0.8,0,0.0,0.348,False,False,False,True,8,0.738370
32,84,Human Resources professional for the world lea...,1,0.807354,0.836619,0.589210,0.8,2,0.0,0.100,False,False,False,True,4,0.772234
45,97,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.142,False,False,False,True,18,0.688413
47,99,Seeking Human Resources Position,1,0.919917,0.939527,0.886942,0.0,2,0.0,0.096,False,False,False,True,17,0.694374
2,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True,19,0.687049
21,73,"Aspiring Human Resources Manager, seeking inte...",1,0.852135,0.910535,0.619586,0.7,2,0.0,0.014,False,False,False,True,2,0.795570
24,76,Aspiring Human Resources Professional | Passio...,1,0.692770,0.783353,0.587286,0.0,0,0.0,0.424,False,False,False,True,28,0.612546
20,72,Business Management Major and Aspiring Human R...,1,0.745004,0.788531,0.652678,0.7,0,0.0,0.010,False,False,False,True,11,0.725070

In [19]:
# Add a new column 're-ranked' to featured_data_encoded based on ltr_ranked_indices
featured_data_encoded['re-ranked'] = 0
featured_data_encoded.loc[ltr_ranked_indices, 're-ranked'] = range(1, len(featured_data_encoded) + 1)

In [21]:
# Sort the dataframe based on the 're-ranked' column in ascending order
featured_data_encoded.sort_values('re-ranked').reset_index(drop=True).head(10)

,id,job_title,has_hr,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score,re-ranked
0,100,Aspiring Human Resources Manager | Graduating ...,1,0.733545,0.777678,0.646315,0.7,0,0.0,0.206,False,False,False,True,12,0.723759,1
1,70,"Retired Army National Guard Recruiter, office ...",1,0.578547,0.680555,0.564994,0.7,0,0.0,0.164,False,False,False,True,22,0.666656,2
2,82,Aspiring Human Resources Professional | An ene...,1,0.730339,0.767072,0.641013,0.8,0,0.0,0.348,False,False,False,True,8,0.738370,3
3,84,Human Resources professional for the world lea...,1,0.807354,0.836619,0.589210,0.8,2,0.0,0.100,False,False,False,True,4,0.772234,4
4,97,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.142,False,False,False,True,18,0.688413,5
5,99,Seeking Human Resources Position,1,0.919917,0.939527,0.886942,0.0,2,0.0,0.096,False,False,False,True,17,0.694374,6
6,3,Aspiring Human Resources Professional,1,0.903204,0.927182,0.843197,0.0,2,0.0,0.088,False,False,False,True,19,0.687049,7
7,73,"Aspiring Human Resources Manager, seeking inte...",1,0.852135,0.910535,0.619586,0.7,2,0.0,0.014,False,False,False,True,2,0.795570,8
8,76,Aspiring Human Resources Professional | Passio...,1,0.692770,0.783353,0.587286,0.0,0,0.0,0.424,False,False,False,True,28,0.612546,9
9,72,Business Management Major and Aspiring Human R...,1,0.745004,0.788531,0.652678,0.7,0,0.0,0.010,False,False,False,True,11,0.725070,10