In [59]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'serif'

In [60]:
featured_data = pd.read_csv('extracted_features_candidate_data_ver1.csv')
featured_data.head()

,id,job_title,location,connection,similarity_scores,roberta_embeddings,job_title_lemmatized,job_title_char_count,job_title_word_count,job_title_avg_word_len,...,sentence_transformer_embeddings,word2vec_similarity,sentence_similarity,experience_score,Glove_embeddings,Glove_similarity,country,city,region,connection_score
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.084313,[ 0.05727464 0.04327847 -0.08864243 0.078854...,2019 C.T. Bauer College Business Graduate ( Ma...,104,15,6.933333,...,[-0.07176385 0.00226361 -0.01785826 0.031808...,0.452996,0.535285,0.0,[-0.40228087 0.62138881 -0.15870494 -0.150460...,0.779651,United States,Houston,Texas,0.170
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.138683,[-0.0280511 0.02117271 -0.05655353 0.131397...,native English teacher EPIK ( English Program ...,57,9,6.333333,...,[-0.01213636 0.01905449 0.03814819 0.013521...,0.552295,0.253609,0.0,[-4.21277778e-01 5.87644444e-01 -4.62456667e-...,0.698349,Canada,NaN,Kanada,1.000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.434607,[-0.09449603 0.08710561 -0.03834165 -0.241207...,Aspiring Human Resources Professional,37,4,9.250000,...,[-0.03121115 0.04798941 -0.01407243 0.099423...,0.861874,0.877541,0.0,[-3.00725000e-01 3.48392500e-01 -1.41115000e-...,0.962704,United States,Raleigh-Durham,North Carolina Area,0.088
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.369073,[-6.82737157e-02 -4.67730649e-02 8.82590469e-...,People Development Coordinator Ryan,38,5,7.600000,...,[-1.06952295e-01 -2.07451340e-02 -8.79813433e-...,0.817421,0.606107,0.0,[ 2.4258200e-01 3.0578460e-01 -4.9482000e-02 ...,0.759374,United States,Denton,Texas,1.000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.143914,[-0.03519841 0.08660441 -0.00772008 0.111947...,Advisory Board Member Celal Bayar University,47,7,6.714286,...,[-0.09358544 0.02436637 -0.00867575 -0.002508...,0.687182,0.304957,0.0,[-0.36904286 0.27080571 -0.27726843 0.113543...,0.611781,Türkiye,İzmir,NaN,1.000

In [61]:
featured_data = featured_data.drop('id', axis=1)

In [62]:
featured_data.shape

(104, 24)

In [76]:
features_data_no_duplicates = featured_data.drop_duplicates(ignore_index=True)
features_data_no_duplicates.shape

(56, 24)

In [77]:
features_data_no_duplicates.head()

,job_title,location,connection,similarity_scores,roberta_embeddings,job_title_lemmatized,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,...,sentence_transformer_embeddings,word2vec_similarity,sentence_similarity,experience_score,Glove_embeddings,Glove_similarity,country,city,region,connection_score
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.084313,[ 0.05727464 0.04327847 -0.08864243 0.078854...,2019 C.T. Bauer College Business Graduate ( Ma...,104,15,6.933333,0.269231,...,[-0.07176385 0.00226361 -0.01785826 0.031808...,0.452996,0.535285,0.0,[-0.40228087 0.62138881 -0.15870494 -0.150460...,0.779651,United States,Houston,Texas,0.170
1,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.138683,[-0.0280511 0.02117271 -0.05655353 0.131397...,native English teacher EPIK ( English Program ...,57,9,6.333333,0.438596,...,[-0.01213636 0.01905449 0.03814819 0.013521...,0.552295,0.253609,0.0,[-4.21277778e-01 5.87644444e-01 -4.62456667e-...,0.698349,Canada,NaN,Kanada,1.000
2,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.434607,[-0.09449603 0.08710561 -0.03834165 -0.241207...,Aspiring Human Resources Professional,37,4,9.250000,0.756757,...,[-0.03121115 0.04798941 -0.01407243 0.099423...,0.861874,0.877541,0.0,[-3.00725000e-01 3.48392500e-01 -1.41115000e-...,0.962704,United States,Raleigh-Durham,North Carolina Area,0.088
3,People Development Coordinator at Ryan,"Denton, Texas",500+,0.369073,[-6.82737157e-02 -4.67730649e-02 8.82590469e-...,People Development Coordinator Ryan,38,5,7.600000,0.526316,...,[-1.06952295e-01 -2.07451340e-02 -8.79813433e-...,0.817421,0.606107,0.0,[ 2.4258200e-01 3.0578460e-01 -4.9482000e-02 ...,0.759374,United States,Denton,Texas,1.000
4,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.143914,[-0.03519841 0.08660441 -0.00772008 0.111947...,Advisory Board Member Celal Bayar University,47,7,6.714286,0.531915,...,[-0.09358544 0.02436637 -0.00867575 -0.002508...,0.687182,0.304957,0.0,[-0.36904286 0.27080571 -0.27726843 0.113543...,0.611781,Türkiye,İzmir,NaN,1.000

In [78]:
features_data_no_duplicates = features_data_no_duplicates.drop(columns=[
    'location',
    'connection',
    'roberta_embeddings',
    'job_title_lemmatized',
    'word2vec_embeddings',
    'sentence_transformer_embeddings',
    'Glove_embeddings'
])
features_data_no_duplicates.head()

,job_title,similarity_scores,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,seniority_score,job_title_punct_penalty,similarity_cluster,word2vec_similarity,sentence_similarity,experience_score,Glove_similarity,country,city,region,connection_score
0,2019 C.T. Bauer College of Business Graduate (...,0.084313,104,15,6.933333,0.269231,0.0,0.019231,0,0.452996,0.535285,0.0,0.779651,United States,Houston,Texas,0.170
1,Native English Teacher at EPIK (English Progra...,0.138683,57,9,6.333333,0.438596,0.0,0.035088,0,0.552295,0.253609,0.0,0.698349,Canada,NaN,Kanada,1.000
2,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.0,0.000000,1,0.861874,0.877541,0.0,0.962704,United States,Raleigh-Durham,North Carolina Area,0.088
3,People Development Coordinator at Ryan,0.369073,38,5,7.600000,0.526316,0.0,0.000000,1,0.817421,0.606107,0.0,0.759374,United States,Denton,Texas,1.000
4,Advisory Board Member at Celal Bayar University,0.143914,47,7,6.714286,0.531915,0.0,0.000000,0,0.687182,0.304957,0.0,0.611781,Türkiye,İzmir,NaN,1.000

In [79]:
print("Unique country count:", features_data_no_duplicates['country'].nunique())
print("Unique region count:", features_data_no_duplicates['region'].nunique())
print("Unique city count:", features_data_no_duplicates['city'].nunique())

Unique country count: 4
Unique region count: 30
Unique city count: 34

In [80]:
# Drop 'city' and 'region' columns
featured_data_encoded = features_data_no_duplicates.drop(columns=['city', 'region'])

# One-hot encode the 'country' categorical feature
featured_data_encoded = pd.get_dummies(featured_data_encoded, columns=['country'])

featured_data_encoded.head()

,job_title,similarity_scores,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,seniority_score,job_title_punct_penalty,similarity_cluster,word2vec_similarity,sentence_similarity,experience_score,Glove_similarity,connection_score,country_Amerika Birleşik Devletleri,country_Canada,country_Türkiye,country_United States
0,2019 C.T. Bauer College of Business Graduate (...,0.084313,104,15,6.933333,0.269231,0.0,0.019231,0,0.452996,0.535285,0.0,0.779651,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,0.138683,57,9,6.333333,0.438596,0.0,0.035088,0,0.552295,0.253609,0.0,0.698349,1.000,False,True,False,False
2,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.0,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True
3,People Development Coordinator at Ryan,0.369073,38,5,7.600000,0.526316,0.0,0.000000,1,0.817421,0.606107,0.0,0.759374,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,0.143914,47,7,6.714286,0.531915,0.0,0.000000,0,0.687182,0.304957,0.0,0.611781,1.000,False,False,True,False

In [81]:
featured_data_encoded.shape

(56, 18)

In [82]:
# Rename the 4 country columns in featured_data_encoded
country_columns = [
    'country_Amerika Birleşik Devletleri',
    'country_Canada',
    'country_Türkiye',
    'country_United States'
]
new_country_columns = ['country_1', 'country_2', 'country_3', 'country_4']

featured_data_encoded = featured_data_encoded.rename(
    columns=dict(zip(country_columns, new_country_columns))
)

featured_data_encoded.head()

,job_title,similarity_scores,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,seniority_score,job_title_punct_penalty,similarity_cluster,word2vec_similarity,sentence_similarity,experience_score,Glove_similarity,connection_score,country_1,country_2,country_3,country_4
0,2019 C.T. Bauer College of Business Graduate (...,0.084313,104,15,6.933333,0.269231,0.0,0.019231,0,0.452996,0.535285,0.0,0.779651,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,0.138683,57,9,6.333333,0.438596,0.0,0.035088,0,0.552295,0.253609,0.0,0.698349,1.000,False,True,False,False
2,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.0,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True
3,People Development Coordinator at Ryan,0.369073,38,5,7.600000,0.526316,0.0,0.000000,1,0.817421,0.606107,0.0,0.759374,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,0.143914,47,7,6.714286,0.531915,0.0,0.000000,0,0.687182,0.304957,0.0,0.611781,1.000,False,False,True,False

In [83]:
class InitialRanker:
    def __init__(self):
        self.feature_weights = {
            'similarity_scores': 0.15,
            'word2vec_similarity': 0.15,
            'sentence_transformer_similarity': 0.15,
            'Glove_similarity': 0.15,    
            'keyword_char_match': 0.1,
            'seniority_score': 0.05,
            'connection_score': 0.03,
            'country_1': 0.02,
            'country_2': 0.02,
            'country_3': 0.02,
            'country_4': 0.02,
            'experience_score':0.01,
            'job_title_punct_penalty':-0.03,
            'job_title_avg_word_len':0.02,
            'job_title_char_count': 0.02
        }
        self.scaler = StandardScaler()
    
    def rank_results(self, features_df):
        # Normalize features
        normalized_features = self.scaler.fit_transform(features_df)
        
        # Calculate weighted score
        scores = np.zeros(len(features_df))
        for i, (feature, weight) in enumerate(self.feature_weights.items()):
            scores += weight * normalized_features[:, i]
        
        # Min-max scale scores to [0, 1]
        min_score = scores.min()
        max_score = scores.max()
        if max_score > min_score:
            scores_scaled = (scores - min_score) / (max_score - min_score)
        else:
            scores_scaled = np.zeros_like(scores)
        
        # Return ranked indices and scaled scores
        ranked_indices = np.argsort(scores_scaled)[::-1]
        return ranked_indices, scores_scaled

In [84]:
featured_data_encoded

,job_title,similarity_scores,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,seniority_score,job_title_punct_penalty,similarity_cluster,word2vec_similarity,sentence_similarity,experience_score,Glove_similarity,connection_score,country_1,country_2,country_3,country_4
0,2019 C.T. Bauer College of Business Graduate (...,0.084313,104,15,6.933333,0.269231,0.00,0.019231,0,0.452996,0.535285,0.0,0.779651,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,0.138683,57,9,6.333333,0.438596,0.00,0.035088,0,0.552295,0.253609,0.0,0.698349,1.000,False,True,False,False
2,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.00,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True
3,People Development Coordinator at Ryan,0.369073,38,5,7.600000,0.526316,0.00,0.000000,1,0.817421,0.606107,0.0,0.759374,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,0.143914,47,7,6.714286,0.531915,0.00,0.000000,0,0.687182,0.304957,0.0,0.611781,1.000,False,False,True,False
5,Aspiring Human Resources Specialist,0.345871,35,4,8.750000,0.771429,0.60,0.000000,1,0.861874,0.837783,0.0,0.941389,0.002,False,False,False,True
6,Student at Humber College and Aspiring Human R...,0.166385,65,9,7.222222,0.415385,0.00,0.000000,0,0.552295,0.723124,0.0,0.855249,0.122,False,True,False,False
7,HR Senior Specialist,0.365738,20,3,6.666667,1.200000,0.75,0.000000,1,1.000000,0.602272,0.0,0.631134,1.000,False,False,False,True
8,Seeking Human Resources HRIS and Generalist Po...,0.072384,53,7,7.571429,0.509434,0.00,0.000000,0,0.687182,0.695969,0.0,0.917740,1.000,False,False,False,True
9,Student at Chapman University,0.142392,29,4,7.250000,0.793103,0.00,0.000000,0,0.861874,0.434757,0.0,0.603305,0.004,False,False,False,True
10,"SVP, CHRO, Marketing & Communications, CSR Off...",0.626174,107,20,5.350000,0.261682,1.00,0.000000,2,0.676654,0.365815,0.0,0.728717,1.000,False,False,False,True
11,Human Resources Coordinator at InterContinenta...,0.258530,64,7,9.142857,0.406250,0.90,0.000000,1,0.687182,0.672723,0.0,0.750437,1.000,False,False,False,True
12,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.00,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True
13,Aspiring Human Resources Management student se...,0.335323,65,8,8.125000,0.400000,0.05,0.000000,1,0.591165,0.653394,0.0,0.904833,1.000,False,False,False,True
14,Seeking Human Resources Opportunities,0.188090,37,4,9.250000,0.702703,0.00,0.000000,0,0.861874,0.623115,0.0,0.920633,0.780,False,False,False,True
15,Student at Humber College and Aspiring Human R...,0.166385,65,9,7.222222,0.415385,0.00,0.000000,0,0.552295,0.723124,0.0,0.855249,0.122,False,True,False,False
16,Seeking Human Resources HRIS and Generalist Po...,0.072384,53,7,7.571429,0.509434,0.00,0.000000,0,0.687182,0.695969,0.0,0.917740,1.000,False,False,False,True
17,Experienced Retail Manager and aspiring Human ...,0.462731,68,8,8.500000,0.411765,0.70,0.000000,1,0.591165,0.635963,1.0,0.907270,0.114,False,False,False,True
18,"Human Resources, Staffing and Recruiting Profe...",0.279908,53,6,8.833333,0.528302,0.00,0.000000,1,0.752629,0.811570,0.0,0.943054,1.000,False,False,False,True
19,Human Resources Specialist at Luxottica,0.292509,39,5,7.800000,0.692308,0.60,0.000000,1,0.817421,0.595379,0.0,0.861180,1.000,False,False,False,True
20,"Director of Human Resources North America, Gro...",0.425332,58,8,7.250000,0.465517,0.90,0.000000,1,0.591165,0.684035,0.0,0.844917,1.000,False,False,False,True
21,"Retired Army National Guard Recruiter, office ...",0.285704,94,13,7.230769,0.297872,0.70,0.000000,1,0.464629,0.607144,0.0,0.820847,0.164,False,False,False,True
22,"Human Resources Generalist at ScottMadden, Inc.",0.510722,47,6,7.833333,0.553191,0.00,0.000000,2,0.752629,0.620953,0.0,0.906996,1.000,False,False,False,True
23,Business Management Major and Aspiring Human R...,0.279236,62,8,7.750000,0.419355,0.70,0.000000,1,0.591165,0.711428,0.0,0.903507,0.010,False,False,False,True
24,"Aspiring Human Resources Manager, seeking inte...",0.328378,72,9,8.000000,0.361111,0.70,0.000000,1,0.696539,0.599120,0.0,0.954329,0.014,False,False,False,True
25,Human Resources Professional,0.564406,28,3,9.333333,1.000000,0.00,0.000000,2,1.000000,1.000000,0.0,1.000000,0.032,False,False,False,True
26,"Nortia Staffing is seeking Human Resources, Pa...",0.362404,100,12,8.333333,0.280000,0.00,0.040000,1,0.478636,0.380546,0.0,0.823870,1.000,False,False,False,True
27,Aspiring Human Resources Professional | Passio...,0.414139,117,16,7.312500,0.239316,0.00,0.000000,1,0.463288,0.645256,0.0,0.911349,0.424,False,False,False,True
28,Human Resources|\nConflict Management|\nPolici...,0.207744,101,10,10.100000,0.277228,0.00,0.000000,0,0.667036,0.562171,0.0,0.888824,0.818,False,False,False,True
29,Human Resources Generalist at Schwan's,0.369932,38,5,7.600000,0.684211,0.00,0.026316,1,0.817421,0.637839,0.0,0.870880,1.000,False,False,False,True
30,Liberal Arts Major. Aspiring Human Resources A...,0.302996,53,7,7.571429,0.509434,0.00,0.000000,1,0.687182,0.653053,0.0,0.883090,0.014,False,False,False,True
31,Junior MES Engineer| Information Systems,0.327936,40,5,8.000000,0.600000,0.20,0.000000,1,0.817421,0.399161,0.0,0.745499,0.104,False,False,False,True
32,Senior Human Resources Business Partner at Hei...,0.497335,61,8,7.625000,0.442623,0.75,0.000000,2,0.591165,0.523558,0.0,0.892666,0.910,False,False,False,True
33,Aspiring Human Resources Professional | An ene...,0.334932,76,10,7.600000,0.368421,0.80,0.000000,1,0.535582,0.796983,0.0,0.907389,0.348,False,False,False,True
34,HR Manager at Endemol Shine North America,0.434568,41,7,5.857143,0.585366,0.70,0.000000,1,0.687182,0.580486,0.0,0.660362,0.536,False,False,False,True
35,Human Resources professional for the world lea...,0.433419,65,10,6.500000,0.430769,0.80,0.000000,1,0.535582,0.630524,0.0,0.910427,0.100,False,False,False,True
36,RRP Brand Portfolio Executive at JTI (Japan To...,0.385114,66,9,7.333333,0.333333,0.95,0.030303,1,0.552295,-0.048447,0.0,0.639865,1.000,False,False,False,True
37,Information Systems Specialist and Programmer ...,0.395373,84,12,7.000000,0.309524,0.60,0.000000,1,0.608479,0.456410,0.0,0.853339,0.008,False,False,False,True
38,Bachelor of Science in Biology from Victoria U...,0.176140,69,10,6.900000,0.391304,0.00,0.000000,0,0.667060,0.430403,0.0,0.735428,0.080,False,False,False,True
39,Human Resources Management Major,0.333459,32,4,8.000000,0.750000,0.00,0.000000,1,0.861874,0.786355,0.0,0.928165,0.036,False,False,False,True
40,Director Human Resources at EY,0.448510,31,5,6.200000,0.806452,0.90,0.000000,1,0.817421,0.503425,0.0,0.877698,0.698,False,False,False,True
41,Undergraduate Research Assistant at Styczynski...,0.205091,50,6,8.333333,0.440000,0.00,0.000000,0,0.752629,0.431265,0.0,0.701889,0.310,False,False,False,True
42,Lead Official at Western Illinois University,0.107945,44,6,7.333333,0.568182,0.80,0.000000,0,0.752629,0.290736,0.0,0.675843,0.078,False,False,False,True
43,Seeking employment opportunities within Custom...,0.323732,72,9,8.000000,0.375000,0.00,0.000000,1,0.552295,0.263235,0.0,0.805396,0.128,False,False,False,True
44,Admissions Representative at Community medical...,0.058395,64,8,8.000000,0.421875,0.00,0.000000,0,0.591165,-0.021075,0.0,0.729183,0.018,False,False,False,True
45,Seeking Human Resources Opportunities. Open t...,0.045842,70,9,7.777778,0.385714,0.00,0.000000,0,0.552295,0.296024,0.0,0.856721,0.830,True,False,False,False
46,Student at Westfield State University,0.075590,37,5,7.400000,0.567568,0.00,0.000000,0,0.817421,0.271887,0.0,0.621249,0.114,False,False,False,True
47,Student at Indiana University Kokomo - Busines...,0.224289,105,16,6.562500,0.247619,0.70,0.000000,0,0.633602,0.217854,0.0,0.676295,0.038,False,False,False,True
48,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.00,0.000000,1,0.861874,0.877541,0.0,0.962704,0.142,False,False,False,True
49,Student,0.219431,7,1,7.000000,1.571429,0.00,0.000000,0,0.663140,0.258784,0.0,0.633637,0.008,False,False,False,True
50,Seeking Human Resources Position,0.089255,32,4,8.000000,0.812500,0.00,0.000000,0,0.861874,0.736675,0.0,0.919796,0.096,False,False,False,True
51,Aspiring Human Resources Manager | Graduating ...,0.070603,117,18,6.500000,0.230769,0.70,0.000000,0,0.694293,0.647928,0.0,0.877200,0.206,False,False,False,True
52,Human Resources Generalist at Loparex,0.143408,37,5,7.400000,0.729730,0.00,0.000000,0,0.817421,0.581286,0.0,0.923735,1.000,False,False,False,True
53,Business Intelligence and Analytics at Travelers,0.137585,48,6,8.000000,0.437500,0.00,0.000000,0,0.752629,0.124743,0.0,0.727623,0.098,False,False,False,True
54,Always set them up for Success,-0.049728,30,6,5.000000,0.833333,0.00,0.000000,0,0.752629,0.126065,0.0,0.744818,1.000,False,False,False,True
55,Director Of Administration at Excellence Logging,0.204272,48,6,8.000000,0.500000,0.90,0.000000,0,0.752629,0.319056,0.0,0.844156,1.000,False,False,False,True

In [85]:
req_data = featured_data_encoded.drop(columns=['job_title'], axis=1)

# Select the features to use for ranking based on InitialRanker.feature_weights
features_for_ranking = req_data.columns

# Extract the relevant features from the dataframe
features_df = featured_data_encoded[features_for_ranking]

# Instantiate the ranker and get the ranked indices
ranker = InitialRanker()
ranked_indices, scores = ranker.rank_results(features_df)

# Add a 'rank' column to the dataframe based on the ranking
featured_data_encoded['rank'] = 0
featured_data_encoded.loc[ranked_indices, 'rank'] = range(1, len(featured_data_encoded) + 1)

featured_data_encoded['scaled_score'] = 0.0
featured_data_encoded.loc[ranked_indices, 'scaled_score'] = scores[ranked_indices]

# Display the top 20 ranked entries
featured_data_encoded.sort_values('rank').head(20)

,job_title,similarity_scores,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,seniority_score,job_title_punct_penalty,similarity_cluster,word2vec_similarity,sentence_similarity,experience_score,Glove_similarity,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score
10,"SVP, CHRO, Marketing & Communications, CSR Off...",0.626174,107,20,5.350000,0.261682,1.00,0.000000,2,0.676654,0.365815,0.0,0.728717,1.000,False,False,False,True,1,1.000000
27,Aspiring Human Resources Professional | Passio...,0.414139,117,16,7.312500,0.239316,0.00,0.000000,1,0.463288,0.645256,0.0,0.911349,0.424,False,False,False,True,2,0.919348
17,Experienced Retail Manager and aspiring Human ...,0.462731,68,8,8.500000,0.411765,0.70,0.000000,1,0.591165,0.635963,1.0,0.907270,0.114,False,False,False,True,3,0.904655
26,"Nortia Staffing is seeking Human Resources, Pa...",0.362404,100,12,8.333333,0.280000,0.00,0.040000,1,0.478636,0.380546,0.0,0.823870,1.000,False,False,False,True,4,0.876543
25,Human Resources Professional,0.564406,28,3,9.333333,1.000000,0.00,0.000000,2,1.000000,1.000000,0.0,1.000000,0.032,False,False,False,True,5,0.862475
28,Human Resources|\nConflict Management|\nPolici...,0.207744,101,10,10.100000,0.277228,0.00,0.000000,0,0.667036,0.562171,0.0,0.888824,0.818,False,False,False,True,6,0.837426
21,"Retired Army National Guard Recruiter, office ...",0.285704,94,13,7.230769,0.297872,0.70,0.000000,1,0.464629,0.607144,0.0,0.820847,0.164,False,False,False,True,7,0.760092
37,Information Systems Specialist and Programmer ...,0.395373,84,12,7.000000,0.309524,0.60,0.000000,1,0.608479,0.456410,0.0,0.853339,0.008,False,False,False,True,8,0.754135
51,Aspiring Human Resources Manager | Graduating ...,0.070603,117,18,6.500000,0.230769,0.70,0.000000,0,0.694293,0.647928,0.0,0.877200,0.206,False,False,False,True,9,0.752776
2,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.00,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True,10,0.734130
12,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.00,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True,11,0.734130
47,Student at Indiana University Kokomo - Busines...,0.224289,105,16,6.562500,0.247619,0.70,0.000000,0,0.633602,0.217854,0.0,0.676295,0.038,False,False,False,True,12,0.733553
24,"Aspiring Human Resources Manager, seeking inte...",0.328378,72,9,8.000000,0.361111,0.70,0.000000,1,0.696539,0.599120,0.0,0.954329,0.014,False,False,False,True,13,0.732645
48,Aspiring Human Resources Professional,0.434607,37,4,9.250000,0.756757,0.00,0.000000,1,0.861874,0.877541,0.0,0.962704,0.142,False,False,False,True,14,0.731934
33,Aspiring Human Resources Professional | An ene...,0.334932,76,10,7.600000,0.368421,0.80,0.000000,1,0.535582,0.796983,0.0,0.907389,0.348,False,False,False,True,15,0.727472
32,Senior Human Resources Business Partner at Hei...,0.497335,61,8,7.625000,0.442623,0.75,0.000000,2,0.591165,0.523558,0.0,0.892666,0.910,False,False,False,True,16,0.726752
11,Human Resources Coordinator at InterContinenta...,0.258530,64,7,9.142857,0.406250,0.90,0.000000,1,0.687182,0.672723,0.0,0.750437,1.000,False,False,False,True,17,0.696981
5,Aspiring Human Resources Specialist,0.345871,35,4,8.750000,0.771429,0.60,0.000000,1,0.861874,0.837783,0.0,0.941389,0.002,False,False,False,True,18,0.681411
35,Human Resources professional for the world lea...,0.433419,65,10,6.500000,0.430769,0.80,0.000000,1,0.535582,0.630524,0.0,0.910427,0.100,False,False,False,True,19,0.666318
36,RRP Brand Portfolio Executive at JTI (Japan To...,0.385114,66,9,7.333333,0.333333,0.95,0.030303,1,0.552295,-0.048447,0.0,0.639865,1.000,False,False,False,True,20,0.656256

In [87]:
req_data.head()

,similarity_scores,job_title_char_count,job_title_word_count,job_title_avg_word_len,keyword_char_match,seniority_score,job_title_punct_penalty,similarity_cluster,word2vec_similarity,sentence_similarity,experience_score,Glove_similarity,connection_score,country_1,country_2,country_3,country_4
0,0.084313,104,15,6.933333,0.269231,0.0,0.019231,0,0.452996,0.535285,0.0,0.779651,0.170,False,False,False,True
1,0.138683,57,9,6.333333,0.438596,0.0,0.035088,0,0.552295,0.253609,0.0,0.698349,1.000,False,True,False,False
2,0.434607,37,4,9.250000,0.756757,0.0,0.000000,1,0.861874,0.877541,0.0,0.962704,0.088,False,False,False,True
3,0.369073,38,5,7.600000,0.526316,0.0,0.000000,1,0.817421,0.606107,0.0,0.759374,1.000,False,False,False,True
4,0.143914,47,7,6.714286,0.531915,0.0,0.000000,0,0.687182,0.304957,0.0,0.611781,1.000,False,False,True,False

In [86]:
class ContextualBandit:
    def __init__(self, n_features, alpha=1.0):
        self.n_features = n_features
        self.alpha = alpha
        
        # Initialize parameters for each arm (ranking position)
        self.A = [np.eye(n_features) for _ in range(10)]  # Top 10 positions
        self.b = [np.zeros(n_features) for _ in range(10)]
        self.interaction_count = 0
    
    def select_item_for_position(self, candidates, position):
        """Select best item for a specific position using LinUCB"""
        scores = []
        
        for candidate in candidates:
            features = candidate['features']
            A_inv = np.linalg.inv(self.A[position])
            theta = A_inv @ self.b[position]
            
            # Confidence bound
            confidence = self.alpha * np.sqrt(features.T @ A_inv @ features)
            score = theta.T @ features + confidence
            scores.append(score)
        
        return np.argmax(scores)
    
    def update_position(self, position, features, reward):
        """Update parameters for a specific position"""
        self.A[position] += np.outer(features, features)
        self.b[position] += reward * features
        self.interaction_count += 1

In [90]:
class ColdStartRankingPipeline:
    def __init__(self, max_results=10):
        self.baseline_ranker = InitialRanker()
        self.bandit = ContextualBandit(n_features=8)  # Adjust based on features
        self.max_results = max_results
        self.exploration_rate = 0.3  # Start high, decay over time
        
    def rank_query_results(self, query_results):
        """Main ranking function"""
        # Extract features
        features = self._extract_features(query_results)
        
        # Get baseline ranking
        baseline_ranking = self.baseline_ranker.rank_results(features)
        
        # Decide exploration vs exploitation
        if self._should_explore():
            return self._explore_ranking(query_results, features)
        else:
            return self._exploit_ranking(query_results, features, baseline_ranking)
    
    def _should_explore(self):
        """Decay exploration over time"""
        decay_rate = 0.995
        current_rate = self.exploration_rate * (decay_rate ** self.bandit.interaction_count)
        return np.random.random() < current_rate
    
    def _explore_ranking(self, query_results, features):
        """Exploration: try different rankings"""
        n_results = min(len(query_results), self.max_results)
        
        # Random permutation with some bias toward similarity
        weights = features[:, 0]  # Cosine similarity column
        weights = np.exp(weights) / np.sum(np.exp(weights))  # Softmax
        
        ranking = np.random.choice(
            len(query_results), 
            size=n_results, 
            replace=False, 
            p=weights
        )
        return ranking
    
    def _exploit_ranking(self, query_results, features, baseline_ranking):
        """Exploitation: use learned preferences"""
        available_items = list(range(len(query_results)))
        final_ranking = []
        
        for position in range(min(self.max_results, len(query_results))):
            # Use bandit to select best item for this position
            candidates = [{'features': features[i], 'index': i} 
                         for i in available_items]
            
            selected_idx = self.bandit.select_item_for_position(candidates, position)
            item_index = available_items[selected_idx]
            
            final_ranking.append(item_index)
            available_items.remove(item_index)
        
        return np.array(final_ranking)

In [89]:
class FeedbackProcessor:
    def __init__(self, pipeline):
        self.pipeline = pipeline
        self.feedback_history = []
        
    def process_user_stars(self, query_results, ranking, starred_items):
        """Process user feedback and update models"""
        features = self.pipeline._extract_features(query_results)
        
        # Calculate rewards for each position
        for position, item_idx in enumerate(ranking):
            if position >= 10:  # Only track top 10
                break
                
            # Reward calculation
            reward = self._calculate_position_reward(item_idx, starred_items, position)
            
            # Update bandit for this position
            self.pipeline.bandit.update_position(
                position, 
                features[item_idx], 
                reward
            )
        
        # Store feedback for analysis
        self.feedback_history.append({
            'query': query_results,
            'ranking': ranking,
            'starred': starred_items,
            'timestamp': time.time()
        })
        
        # Periodically update baseline weights
        if len(self.feedback_history) % 50 == 0:
            self._update_baseline_weights()
    
    def _calculate_position_reward(self, item_idx, starred_items, position):
        """Calculate reward based on position and stars"""
        if item_idx in starred_items:
            # Higher reward for starred items at top positions
            return 1.0 / (position + 1)
        else:
            # Small negative reward for non-starred items at top
            return -0.1 / (position + 1)
    
    def _update_baseline_weights(self):
        """Update baseline feature weights based on feedback"""
        if len(self.feedback_history) < 10:
            return
        
        # Analyze which features correlate with starred items
        starred_features = []
        non_starred_features = []
        
        for feedback in self.feedback_history[-100:]:  # Last 100 interactions
            features = self.pipeline._extract_features(feedback['query'])
            
            for item_idx in feedback['starred']:
                starred_features.append(features[item_idx])
            
            for i, item in enumerate(feedback['query']):
                if i not in feedback['starred']:
                    non_starred_features.append(features[i])
        
        # Simple feature importance update
        if starred_features and non_starred_features:
            starred_mean = np.mean(starred_features, axis=0)
            non_starred_mean = np.mean(non_starred_features, axis=0)
            
            # Update weights based on feature differences
            feature_importance = np.abs(starred_mean - non_starred_mean)
            feature_importance = feature_importance / np.sum(feature_importance)
            
            feature_names = list(self.pipeline.baseline_ranker.feature_weights.keys())
            for i, feature in enumerate(feature_names):
                self.pipeline.baseline_ranker.feature_weights[feature] = feature_importance[i]

In [ ]:
class RankingSystem:
    def __init__(self):
        self.pipeline = ColdStartRankingPipeline()
        self.feedback_processor = FeedbackProcessor(self.pipeline)
        self.query_count = 0
        
    def search_and_rank(self, query, job_titles):
        """Main search interface"""
        self.query_count += 1

        query_results = self._search_candidates(query, job_titles)

    def _search_candidates(self, query, job_titles):
        """Simple search implementation"""
        candidates = []
        query_words = set(query.lower().split())
        
        for i, job_title in enumerate(job_titles):
            title_words = set(job_title.lower().split())
            
            # Check if there's any overlap
            if query_words.intersection(title_words):
                candidates.append({
                    'title': job_title,
                    'text': job_title,
                    'original_index': i
                })
        
        return candidates
        
        # Rank results
        ranking = self.pipeline.rank_query_results(query_results)
        
        # Return ranked results
        return [query_results[i] for i in ranking]
    
    def process_user_feedback(self, query_results, ranking, starred_items):
        """Handle user stars"""
        self.feedback_processor.process_user_stars(
            query_results, ranking, starred_items
        )
        
    def get_system_stats(self):
        """Return system performance metrics"""
        return {
            'total_queries': self.query_count,
            'interactions': self.pipeline.bandit.interaction_count,
            'current_exploration_rate': self.pipeline.exploration_rate * 
                (0.995 ** self.pipeline.bandit.interaction_count),
            'feedback_count': len(self.feedback_processor.feedback_history)
        }

In [ ]:
# Initialize system
ranking_system = RankingSystem()

# Search and rank
results = ranking_system.search_and_rank("python developer", job_titles)

# User stars some results
starred_indices = [0, 2]  # User starred 1st and 3rd results
ranking_system.process_user_feedback(results, list(range(len(results))), starred_indices)

# System learns and improves over time