In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'serif'

In [2]:
featured_data = pd.read_csv('extracted_features_candidate_data_ver2.csv')
featured_data.head()

,id,job_title,location,connection,job_title_lemmatized,hr_term,word2vec_embeddings,sentence_transformer_embeddings,glove_embeddings,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,country,city,region,connection_score
0,1.0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t . bauer college business graduate ( m...,True,[[-5.24902344e-02 6.39648438e-02 -7.12890625e...,[-9.02806446e-02 3.11965402e-02 -2.56061740e-...,[[-0.61878 -0.049302 0.35098 ... -0.2424...,0.608446,0.600986,0.546717,0.0,0.020619,1.0,0.0,United States,Houston,Texas,0.170
1,2.0,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik ( english program ...,False,[[ 0.26367188 0.28125 -0.05493164 ... -0.2...,[-3.58177498e-02 3.85150500e-02 2.88891699e-...,[[-0.70018 0.053196 -0.20213 ... -0.22181 ...,0.236671,0.443755,0.240177,0.0,0.037736,2.0,0.0,Canada,NaN,Kanada,1.000
2,3.0,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,True,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.903204,0.927182,0.843197,0.0,0.000000,0.0,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,4.0,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,False,[[ 0.26367188 -0.01916504 0.02893066 ... -0.0...,[-1.06938034e-01 -1.27687156e-02 -7.28640631e-...,[[-0.41355 0.076012 0.099178 ... 0.15953 ...,0.285902,0.509445,0.486340,0.0,0.000000,2.0,0.0,United States,Denton,Texas,1.000
4,5.0,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,False,[[-0.08837891 -0.17773438 0.1953125 ... -0.0...,[-8.32213387e-02 1.65026933e-02 -7.30818463e-...,[[ 0.29924 -0.056401 -0.10924 ... 0.1007...,0.251144,0.329143,0.282052,0.0,0.000000,2.0,0.0,Türkiye,İzmir,NaN,1.000

In [3]:
featured_data = featured_data.drop('id', axis=1)

In [4]:
featured_data.shape

(999, 19)

In [5]:
features_data_no_duplicates = featured_data.drop_duplicates(ignore_index=True)
features_data_no_duplicates.shape

(56, 19)

In [6]:
features_data_no_duplicates.head()

,job_title,location,connection,job_title_lemmatized,hr_term,word2vec_embeddings,sentence_transformer_embeddings,glove_embeddings,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,country,city,region,connection_score
0,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t . bauer college business graduate ( m...,True,[[-5.24902344e-02 6.39648438e-02 -7.12890625e...,[-9.02806446e-02 3.11965402e-02 -2.56061740e-...,[[-0.61878 -0.049302 0.35098 ... -0.2424...,0.608446,0.600986,0.546717,0.0,0.020619,1.0,0.0,United States,Houston,Texas,0.170
1,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher epik ( english program ...,False,[[ 0.26367188 0.28125 -0.05493164 ... -0.2...,[-3.58177498e-02 3.85150500e-02 2.88891699e-...,[[-0.70018 0.053196 -0.20213 ... -0.22181 ...,0.236671,0.443755,0.240177,0.0,0.037736,2.0,0.0,Canada,NaN,Kanada,1.000
2,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,aspire human resource professional,True,[[-0.07910156 0.05908203 0.16210938 ... -0.2...,[-8.61571506e-02 3.96362171e-02 -8.47534910e-...,[[ 0.042918 0.90274 -0.14664 ... -0.0568...,0.903204,0.927182,0.843197,0.0,0.000000,0.0,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,People Development Coordinator at Ryan,"Denton, Texas",500+,people development coordinator ryan,False,[[ 0.26367188 -0.01916504 0.02893066 ... -0.0...,[-1.06938034e-01 -1.27687156e-02 -7.28640631e-...,[[-0.41355 0.076012 0.099178 ... 0.15953 ...,0.285902,0.509445,0.486340,0.0,0.000000,2.0,0.0,United States,Denton,Texas,1.000
4,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member celal bayar university,False,[[-0.08837891 -0.17773438 0.1953125 ... -0.0...,[-8.32213387e-02 1.65026933e-02 -7.30818463e-...,[[ 0.29924 -0.056401 -0.10924 ... 0.1007...,0.251144,0.329143,0.282052,0.0,0.000000,2.0,0.0,Türkiye,İzmir,NaN,1.000

In [9]:
features_data_no_duplicates = features_data_no_duplicates.drop(columns=[
    'location',
    'connection',
    'job_title_lemmatized',
    'word2vec_embeddings',
    'sentence_transformer_embeddings',
    'glove_embeddings'
])
features_data_no_duplicates.head()

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,country,city,region,connection_score
0,2019 C.T. Bauer College of Business Graduate (...,True,0.608446,0.600986,0.546717,0.0,0.020619,1.0,0.0,United States,Houston,Texas,0.170
1,Native English Teacher at EPIK (English Progra...,False,0.236671,0.443755,0.240177,0.0,0.037736,2.0,0.0,Canada,NaN,Kanada,1.000
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.0,0.000000,0.0,0.0,United States,Raleigh-Durham,North Carolina Area,0.088
3,People Development Coordinator at Ryan,False,0.285902,0.509445,0.486340,0.0,0.000000,2.0,0.0,United States,Denton,Texas,1.000
4,Advisory Board Member at Celal Bayar University,False,0.251144,0.329143,0.282052,0.0,0.000000,2.0,0.0,Türkiye,İzmir,NaN,1.000

In [10]:
print("Unique country count:", features_data_no_duplicates['country'].nunique())
print("Unique region count:", features_data_no_duplicates['region'].nunique())
print("Unique city count:", features_data_no_duplicates['city'].nunique())

Unique country count: 4
Unique region count: 28
Unique city count: 34

In [11]:
# Drop 'city' and 'region' columns
featured_data_encoded = features_data_no_duplicates.drop(columns=['city', 'region'])

# One-hot encode the 'country' categorical feature
featured_data_encoded = pd.get_dummies(featured_data_encoded, columns=['country'])

featured_data_encoded.head()

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,connection_score,country_Amerika Birleşik Devletleri,country_Canada,country_Türkiye,country_United States
0,2019 C.T. Bauer College of Business Graduate (...,True,0.608446,0.600986,0.546717,0.0,0.020619,1.0,0.0,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,False,0.236671,0.443755,0.240177,0.0,0.037736,2.0,0.0,1.000,False,True,False,False
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.0,0.000000,0.0,0.0,0.088,False,False,False,True
3,People Development Coordinator at Ryan,False,0.285902,0.509445,0.486340,0.0,0.000000,2.0,0.0,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,False,0.251144,0.329143,0.282052,0.0,0.000000,2.0,0.0,1.000,False,False,True,False

In [12]:
featured_data_encoded.shape

(56, 14)

In [13]:
# Rename the 4 country columns in featured_data_encoded
country_columns = [
    'country_Amerika Birleşik Devletleri',
    'country_Canada',
    'country_Türkiye',
    'country_United States'
]
new_country_columns = ['country_1', 'country_2', 'country_3', 'country_4']

featured_data_encoded = featured_data_encoded.rename(
    columns=dict(zip(country_columns, new_country_columns))
)

featured_data_encoded.head()

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,2019 C.T. Bauer College of Business Graduate (...,True,0.608446,0.600986,0.546717,0.0,0.020619,1.0,0.0,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,False,0.236671,0.443755,0.240177,0.0,0.037736,2.0,0.0,1.000,False,True,False,False
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.0,0.000000,0.0,0.0,0.088,False,False,False,True
3,People Development Coordinator at Ryan,False,0.285902,0.509445,0.486340,0.0,0.000000,2.0,0.0,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,False,0.251144,0.329143,0.282052,0.0,0.000000,2.0,0.0,1.000,False,False,True,False

#### Will be using only glove similarity here.

In [21]:
from sklearn.preprocessing import StandardScaler
import numpy as np

class InitialRanker:
    def __init__(self):
        self.feature_weights = {
            'glove_max_similarity': 0.4,    
            'hr_term': 0.25,
            'seniority_score': 0.15,
            'connection_score': 0.075,
            'similarity_cluster': -0.05,
            'country_1': 0.025,
            'country_2': 0.025,
            'country_3': 0.025,
            'country_4': 0.025,
            'experience_score':0.05,
            'job_title_punct_penalty':-0.025,
        }
        self.scaler = StandardScaler()
    
    def rank_results(self, features_df):
        # Normalize features
        normalized_features = self.scaler.fit_transform(features_df)
        
        # Calculate weighted score
        scores = np.zeros(len(features_df))
        for i, (feature, weight) in enumerate(self.feature_weights.items()):
            scores += weight * normalized_features[:, i]
        
        # Min-max scale scores to [0, 1]
        min_score = scores.min()
        max_score = scores.max()
        if max_score > min_score:
            scores_scaled = (scores - min_score) / (max_score - min_score)
        else:
            scores_scaled = np.zeros_like(scores)
        
        # Return ranked indices and scaled scores
        ranked_indices = np.argsort(scores_scaled)[::-1]
        return ranked_indices, scores_scaled

In [15]:
featured_data_encoded

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,2019 C.T. Bauer College of Business Graduate (...,True,0.608446,0.600986,0.546717,0.00,0.020619,1.0,0.0,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,False,0.236671,0.443755,0.240177,0.00,0.037736,2.0,0.0,1.000,False,True,False,False
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.00,0.000000,0.0,0.0,0.088,False,False,False,True
3,People Development Coordinator at Ryan,False,0.285902,0.509445,0.486340,0.00,0.000000,2.0,0.0,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,False,0.251144,0.329143,0.282052,0.00,0.000000,2.0,0.0,1.000,False,False,True,False
5,Aspiring Human Resources Specialist,True,0.834046,0.841448,0.770554,0.60,0.000000,0.0,0.0,0.002,False,False,False,True
6,Student at Humber College and Aspiring Human R...,True,0.761539,0.666466,0.636068,0.00,0.000000,1.0,0.0,0.122,False,True,False,False
7,HR Senior Specialist,True,0.277158,0.426237,0.683726,0.75,0.000000,2.0,0.0,1.000,False,False,False,True
8,Seeking Human Resources HRIS and Generalist Po...,True,0.829526,0.885417,0.745855,0.00,0.000000,0.0,0.0,1.000,False,False,False,True
9,Student at Chapman University,False,0.223065,0.368430,0.238937,0.00,0.000000,2.0,0.0,0.004,False,False,False,True
10,"SVP, CHRO, Marketing & Communications, CSR Off...",True,0.392831,0.275765,0.361920,1.00,0.000000,2.0,0.0,1.000,False,False,False,True
11,Human Resources Coordinator at InterContinenta...,True,0.627412,0.597331,0.642358,0.90,0.000000,1.0,0.0,1.000,False,False,False,True
12,Aspiring Human Resources Management student se...,True,0.746653,0.806431,0.542803,0.05,0.000000,0.0,0.0,1.000,False,False,False,True
13,Seeking Human Resources Opportunities,True,0.906251,0.958798,0.849017,0.00,0.000000,0.0,0.0,0.780,False,False,False,True
14,Student at Humber College and Aspiring Human R...,True,0.761539,0.666466,0.636068,0.00,0.000000,1.0,0.0,0.122,False,True,False,False
15,Seeking Human Resources HRIS and Generalist Po...,True,0.829526,0.885417,0.745855,0.00,0.000000,0.0,0.0,1.000,False,False,False,True
16,Experienced Retail Manager and aspiring Human ...,True,0.777616,0.845250,0.681646,0.70,0.000000,0.0,1.0,0.114,False,False,False,True
17,"Human Resources, Staffing and Recruiting Profe...",True,0.829466,0.892751,0.844840,0.00,0.000000,0.0,0.0,1.000,False,False,False,True
18,Human Resources Specialist at Luxottica,True,0.840776,0.735075,0.661015,0.60,0.000000,1.0,0.0,1.000,False,False,False,True
19,"Director of Human Resources North America, Gro...",True,0.598991,0.662038,0.616492,0.90,0.000000,1.0,0.0,1.000,False,False,False,True
20,"Retired Army National Guard Recruiter, office ...",True,0.578547,0.670325,0.568057,0.70,0.000000,1.0,0.0,0.164,False,False,False,True
21,"Human Resources Generalist at ScottMadden, Inc.",True,0.777499,0.805296,0.611612,0.00,0.000000,0.0,0.0,1.000,False,False,False,True
22,Business Management Major and Aspiring Human R...,True,0.745004,0.788531,0.652678,0.70,0.000000,0.0,0.0,0.010,False,False,False,True
23,"Aspiring Human Resources Manager, seeking inte...",True,0.852135,0.899500,0.567329,0.70,0.000000,0.0,0.0,0.014,False,False,False,True
24,Human Resources Professional,True,1.000000,1.000000,1.000000,0.00,0.000000,0.0,0.0,0.032,False,False,False,True
25,"Nortia Staffing is seeking Human Resources, Pa...",True,0.725909,0.671197,0.448521,0.00,0.040000,1.0,0.0,1.000,False,False,False,True
26,Aspiring Human Resources Professional | Passio...,True,0.692770,0.783297,0.624715,0.00,0.000000,0.0,0.0,0.424,False,False,False,True
27,Human Resources|\nConflict Management|\nPolici...,True,0.476364,0.682272,0.620084,0.00,0.000000,1.0,0.0,0.818,False,False,False,True
28,Human Resources Generalist at Schwan's,True,0.846650,0.654908,0.629829,0.00,0.000000,1.0,0.0,1.000,True,False,False,False
29,Liberal Arts Major. Aspiring Human Resources A...,True,0.654149,0.720873,0.561372,0.00,0.000000,1.0,0.0,0.014,False,False,False,True
30,Junior MES Engineer| Information Systems,False,0.319591,0.439355,0.370345,0.20,0.000000,2.0,0.0,0.104,False,False,False,True
31,Senior Human Resources Business Partner at Hei...,True,0.704107,0.773983,0.501192,0.75,0.000000,0.0,0.0,0.910,False,False,False,True
32,Aspiring Human Resources Professional | An ene...,True,0.730339,0.744393,0.713390,0.80,0.000000,1.0,0.0,0.348,False,False,False,True
33,HR Manager at Endemol Shine North America,True,0.201017,0.297520,0.551145,0.70,0.000000,2.0,0.0,0.536,False,False,False,True
34,Human Resources professional for the world lea...,True,0.807354,0.836619,0.589210,0.80,0.000000,0.0,0.0,0.100,False,False,False,True
35,RRP Brand Portfolio Executive at JTI (Japan To...,False,0.262288,0.360239,0.163868,0.95,0.030769,2.0,0.0,1.000,False,False,False,True
36,Information Systems Specialist and Programmer ...,False,0.395630,0.623625,0.421536,0.60,0.000000,1.0,0.0,0.008,False,False,False,True
37,Bachelor of Science in Biology from Victoria U...,False,0.267786,0.413185,0.179092,0.00,0.000000,2.0,0.0,0.080,False,False,False,True
38,Human Resources Management Major,True,0.821198,0.851487,0.755799,0.00,0.000000,0.0,0.0,0.036,False,False,False,True
39,Director Human Resources at EY,True,0.675315,0.759261,0.685894,0.90,0.000000,0.0,0.0,0.698,False,False,False,True
40,Undergraduate Research Assistant at Styczynski...,False,0.329577,0.486573,0.324436,0.00,0.000000,2.0,0.0,0.310,False,False,False,True
41,Lead Official at Western Illinois University,False,0.264125,0.451156,0.254704,0.80,0.000000,2.0,0.0,0.078,False,False,False,True
42,Seeking employment opportunities within Custom...,False,0.472560,0.653973,0.367913,0.00,0.000000,1.0,0.0,0.128,False,False,False,True
43,Admissions Representative at Community medical...,False,0.301777,0.522570,0.205822,0.00,0.000000,2.0,0.0,0.018,False,False,False,True
44,Seeking Human Resources Opportunities. Open t...,False,0.755783,0.828345,0.440971,0.00,0.000000,0.0,0.0,0.830,False,False,False,True
45,Student at Westfield State University,False,0.246885,0.384515,0.161043,0.00,0.000000,2.0,0.0,0.114,False,False,False,True
46,Student at Indiana University Kokomo - Busines...,False,0.396394,0.463508,0.256165,0.70,0.000000,2.0,0.0,0.038,False,False,False,True
47,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.00,0.000000,0.0,0.0,0.142,False,False,False,True
48,Student,False,0.216049,0.406400,0.288225,0.00,0.000000,2.0,0.0,0.008,False,False,False,True
49,Seeking Human Resources Position,True,0.919917,0.939527,0.886942,0.00,0.000000,0.0,0.0,0.096,False,False,False,True
50,Aspiring Human Resources Manager | Graduating ...,True,0.733545,0.719587,0.659695,0.70,0.000000,1.0,0.0,0.206,False,False,False,True
51,Human Resources Generalist at Loparex,True,0.846650,0.796726,0.587282,0.00,0.000000,0.0,0.0,1.000,False,False,False,True
52,Business Intelligence and Analytics at Travelers,False,0.369934,0.423669,0.242161,0.00,0.000000,2.0,0.0,0.098,False,False,False,True
53,Always set them up for Success,False,0.121800,0.395351,0.125527,0.00,0.000000,2.0,0.0,1.000,False,False,False,True
54,Director Of Administration at Excellence Logging,False,0.314975,0.551298,0.344037,0.90,0.000000,1.0,0.0,1.000,False,False,False,True
55,NaN,False,NaN,NaN,NaN,0.00,0.000000,NaN,0.0,0.000,False,False,False,False

In [16]:
featured_data_encoded = featured_data_encoded.dropna(how='any')

In [17]:
featured_data_encoded.head()

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4
0,2019 C.T. Bauer College of Business Graduate (...,True,0.608446,0.600986,0.546717,0.0,0.020619,1.0,0.0,0.170,False,False,False,True
1,Native English Teacher at EPIK (English Progra...,False,0.236671,0.443755,0.240177,0.0,0.037736,2.0,0.0,1.000,False,True,False,False
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.0,0.000000,0.0,0.0,0.088,False,False,False,True
3,People Development Coordinator at Ryan,False,0.285902,0.509445,0.486340,0.0,0.000000,2.0,0.0,1.000,False,False,False,True
4,Advisory Board Member at Celal Bayar University,False,0.251144,0.329143,0.282052,0.0,0.000000,2.0,0.0,1.000,False,False,True,False

In [22]:
req_data = featured_data_encoded.drop(columns=['job_title', 'word2vec_max_similarity','sentence_max_similarity'], axis=1)

# Select the features to use for ranking based on InitialRanker.feature_weights
features_for_ranking = req_data.columns

# Extract the relevant features from the dataframe
features_df = featured_data_encoded[features_for_ranking]

# Instantiate the ranker and get the ranked indices
ranker = InitialRanker()
ranked_indices, scores = ranker.rank_results(features_df)

# Add a 'rank' column to the dataframe based on the ranking
featured_data_encoded['rank'] = 0
featured_data_encoded.loc[ranked_indices, 'rank'] = range(1, len(featured_data_encoded) + 1)

featured_data_encoded['scaled_score'] = 0.0
featured_data_encoded.loc[ranked_indices, 'scaled_score'] = scores[ranked_indices]

# Display the top 20 ranked entries
featured_data_encoded.sort_values('rank').head(20)

C:\Users\samar\AppData\Local\Temp\ipykernel_23368\1061760262.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data_encoded['rank'] = 0
C:\Users\samar\AppData\Local\Temp\ipykernel_23368\1061760262.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data_encoded['scaled_score'] = 0.0

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score
16,Experienced Retail Manager and aspiring Human ...,True,0.777616,0.845250,0.681646,0.70,0.00,0.0,1.0,0.114,False,False,False,True,1,1.000000
23,"Aspiring Human Resources Manager, seeking inte...",True,0.852135,0.899500,0.567329,0.70,0.00,0.0,0.0,0.014,False,False,False,True,2,0.938860
34,Human Resources professional for the world lea...,True,0.807354,0.836619,0.589210,0.80,0.00,0.0,0.0,0.100,False,False,False,True,3,0.921771
39,Director Human Resources at EY,True,0.675315,0.759261,0.685894,0.90,0.00,0.0,0.0,0.698,False,False,False,True,4,0.910304
31,Senior Human Resources Business Partner at Hei...,True,0.704107,0.773983,0.501192,0.75,0.00,0.0,0.0,0.910,False,False,False,True,5,0.896222
5,Aspiring Human Resources Specialist,True,0.834046,0.841448,0.770554,0.60,0.00,0.0,0.0,0.002,False,False,False,True,6,0.882936
22,Business Management Major and Aspiring Human R...,True,0.745004,0.788531,0.652678,0.70,0.00,0.0,0.0,0.010,False,False,False,True,7,0.869811
24,Human Resources Professional,True,1.000000,1.000000,1.000000,0.00,0.00,0.0,0.0,0.032,False,False,False,True,8,0.865171
13,Seeking Human Resources Opportunities,True,0.906251,0.958798,0.849017,0.00,0.00,0.0,0.0,0.780,False,False,False,True,9,0.860926
32,Aspiring Human Resources Professional | An ene...,True,0.730339,0.744393,0.713390,0.80,0.00,1.0,0.0,0.348,False,False,False,True,10,0.842308
25,"Nortia Staffing is seeking Human Resources, Pa...",True,0.725909,0.671197,0.448521,0.00,0.04,1.0,0.0,1.000,False,False,False,True,11,0.830263
49,Seeking Human Resources Position,True,0.919917,0.939527,0.886942,0.00,0.00,0.0,0.0,0.096,False,False,False,True,12,0.829431
19,"Director of Human Resources North America, Gro...",True,0.598991,0.662038,0.616492,0.90,0.00,1.0,0.0,1.000,False,False,False,True,13,0.829277
17,"Human Resources, Staffing and Recruiting Profe...",True,0.829466,0.892751,0.844840,0.00,0.00,0.0,0.0,1.000,False,False,False,True,14,0.826177
47,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.00,0.00,0.0,0.0,0.142,False,False,False,True,15,0.823075
8,Seeking Human Resources HRIS and Generalist Po...,True,0.829526,0.885417,0.745855,0.00,0.00,0.0,0.0,1.000,False,False,False,True,16,0.821621
15,Seeking Human Resources HRIS and Generalist Po...,True,0.829526,0.885417,0.745855,0.00,0.00,0.0,0.0,1.000,False,False,False,True,17,0.821621
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.00,0.00,0.0,0.0,0.088,False,False,False,True,18,0.821534
18,Human Resources Specialist at Luxottica,True,0.840776,0.735075,0.661015,0.60,0.00,1.0,0.0,1.000,False,False,False,True,19,0.816091
50,Aspiring Human Resources Manager | Graduating ...,True,0.733545,0.719587,0.659695,0.70,0.00,1.0,0.0,0.206,False,False,False,True,20,0.803326

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

# Select a random candidate from the top 20
top_20_indices = featured_data_encoded.sort_values('rank').index[:20]
chosen_idx = np.random.choice(top_20_indices)
chosen_candidate = featured_data_encoded.loc[chosen_idx]

# Compute cosine similarity between chosen candidate and all others using glove_max_similarity

# Extract glove embeddings for all candidates (from features_data_no_duplicates)
glove_embeddings = np.array([
    emb if isinstance(emb, (list, np.ndarray)) else np.zeros(300)
    for emb in featured_data['glove_embeddings'][:len(featured_data_encoded)]
])

chosen_embedding = glove_embeddings[chosen_idx].reshape(1, -1)
similarities = cosine_similarity(chosen_embedding, glove_embeddings)[0]

# Add similarity scores to the dataframe and re-rank
featured_data_encoded['chosen_similarity'] = similarities
featured_data_encoded['similarity_rank'] = featured_data_encoded['chosen_similarity'].rank(ascending=False, method='first').astype(int)

# Display the top 20 candidates by similarity to the chosen candidate
featured_data_encoded.sort_values('similarity_rank').head(20)

C:\Users\samar\AppData\Local\Temp\ipykernel_23368\2424161801.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data_encoded['chosen_similarity'] = similarities
C:\Users\samar\AppData\Local\Temp\ipykernel_23368\2424161801.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  featured_data_encoded['similarity_rank'] = featured_data_encoded['chosen_similarity'].rank(ascending=False, method='first').astype(int)

,job_title,hr_term,word2vec_max_similarity,glove_max_similarity,sentence_max_similarity,seniority_score,job_title_punct_penalty,similarity_cluster,experience_score,connection_score,country_1,country_2,country_3,country_4,rank,scaled_score,chosen_similarity,similarity_rank
0,2019 C.T. Bauer College of Business Graduate (...,True,0.608446,0.600986,0.546717,0.00,0.020619,1.0,0.0,0.170,False,False,False,True,31,0.680117,0.0,1
1,Native English Teacher at EPIK (English Progra...,False,0.236671,0.443755,0.240177,0.00,0.037736,2.0,0.0,1.000,False,True,False,False,40,0.333382,0.0,2
2,Aspiring Human Resources Professional,True,0.903204,0.927182,0.843197,0.00,0.000000,0.0,0.0,0.088,False,False,False,True,18,0.821534,0.0,3
3,People Development Coordinator at Ryan,False,0.285902,0.509445,0.486340,0.00,0.000000,2.0,0.0,1.000,False,False,False,True,46,0.116028,0.0,4
4,Advisory Board Member at Celal Bayar University,False,0.251144,0.329143,0.282052,0.00,0.000000,2.0,0.0,1.000,False,False,True,False,42,0.230747,0.0,5
5,Aspiring Human Resources Specialist,True,0.834046,0.841448,0.770554,0.60,0.000000,0.0,0.0,0.002,False,False,False,True,6,0.882936,0.0,6
6,Student at Humber College and Aspiring Human R...,True,0.761539,0.666466,0.636068,0.00,0.000000,1.0,0.0,0.122,False,True,False,False,30,0.728167,0.0,7
7,HR Senior Specialist,True,0.277158,0.426237,0.683726,0.75,0.000000,2.0,0.0,1.000,False,False,False,True,34,0.624267,0.0,8
8,Seeking Human Resources HRIS and Generalist Po...,True,0.829526,0.885417,0.745855,0.00,0.000000,0.0,0.0,1.000,False,False,False,True,16,0.821621,0.0,9
9,Student at Chapman University,False,0.223065,0.368430,0.238937,0.00,0.000000,2.0,0.0,0.004,False,False,False,True,55,0.000000,0.0,10
10,"SVP, CHRO, Marketing & Communications, CSR Off...",True,0.392831,0.275765,0.361920,1.00,0.000000,2.0,0.0,1.000,False,False,False,True,35,0.579591,0.0,11
11,Human Resources Coordinator at InterContinenta...,True,0.627412,0.597331,0.642358,0.90,0.000000,1.0,0.0,1.000,False,False,False,True,21,0.789081,0.0,12
12,Aspiring Human Resources Management student se...,True,0.746653,0.806431,0.542803,0.05,0.000000,0.0,0.0,1.000,False,False,False,True,23,0.782314,0.0,13
13,Seeking Human Resources Opportunities,True,0.906251,0.958798,0.849017,0.00,0.000000,0.0,0.0,0.780,False,False,False,True,9,0.860926,0.0,14
14,Student at Humber College and Aspiring Human R...,True,0.761539,0.666466,0.636068,0.00,0.000000,1.0,0.0,0.122,False,True,False,False,29,0.728167,0.0,15
15,Seeking Human Resources HRIS and Generalist Po...,True,0.829526,0.885417,0.745855,0.00,0.000000,0.0,0.0,1.000,False,False,False,True,17,0.821621,0.0,16
16,Experienced Retail Manager and aspiring Human ...,True,0.777616,0.845250,0.681646,0.70,0.000000,0.0,1.0,0.114,False,False,False,True,1,1.000000,0.0,17
17,"Human Resources, Staffing and Recruiting Profe...",True,0.829466,0.892751,0.844840,0.00,0.000000,0.0,0.0,1.000,False,False,False,True,14,0.826177,0.0,18
18,Human Resources Specialist at Luxottica,True,0.840776,0.735075,0.661015,0.60,0.000000,1.0,0.0,1.000,False,False,False,True,19,0.816091,0.0,19
19,"Director of Human Resources North America, Gro...",True,0.598991,0.662038,0.616492,0.90,0.000000,1.0,0.0,1.000,False,False,False,True,13,0.829277,0.0,20

In [86]:
class ContextualBandit:
    def __init__(self, n_features, alpha=1.0):
        self.n_features = n_features
        self.alpha = alpha
        
        # Initialize parameters for each arm (ranking position)
        self.A = [np.eye(n_features) for _ in range(10)]  # Top 10 positions
        self.b = [np.zeros(n_features) for _ in range(10)]
        self.interaction_count = 0
    
    def select_item_for_position(self, candidates, position):
        """Select best item for a specific position using LinUCB"""
        scores = []
        
        for candidate in candidates:
            features = candidate['features']
            A_inv = np.linalg.inv(self.A[position])
            theta = A_inv @ self.b[position]
            
            # Confidence bound
            confidence = self.alpha * np.sqrt(features.T @ A_inv @ features)
            score = theta.T @ features + confidence
            scores.append(score)
        
        return np.argmax(scores)
    
    def update_position(self, position, features, reward):
        """Update parameters for a specific position"""
        self.A[position] += np.outer(features, features)
        self.b[position] += reward * features
        self.interaction_count += 1

In [90]:
class ColdStartRankingPipeline:
    def __init__(self, max_results=10):
        self.baseline_ranker = InitialRanker()
        self.bandit = ContextualBandit(n_features=8)  # Adjust based on features
        self.max_results = max_results
        self.exploration_rate = 0.3  # Start high, decay over time
        
    def rank_query_results(self, query_results):
        """Main ranking function"""
        # Extract features
        features = self._extract_features(query_results)
        
        # Get baseline ranking
        baseline_ranking = self.baseline_ranker.rank_results(features)
        
        # Decide exploration vs exploitation
        if self._should_explore():
            return self._explore_ranking(query_results, features)
        else:
            return self._exploit_ranking(query_results, features, baseline_ranking)
    
    def _should_explore(self):
        """Decay exploration over time"""
        decay_rate = 0.995
        current_rate = self.exploration_rate * (decay_rate ** self.bandit.interaction_count)
        return np.random.random() < current_rate
    
    def _explore_ranking(self, query_results, features):
        """Exploration: try different rankings"""
        n_results = min(len(query_results), self.max_results)
        
        # Random permutation with some bias toward similarity
        weights = features[:, 0]  # Cosine similarity column
        weights = np.exp(weights) / np.sum(np.exp(weights))  # Softmax
        
        ranking = np.random.choice(
            len(query_results), 
            size=n_results, 
            replace=False, 
            p=weights
        )
        return ranking
    
    def _exploit_ranking(self, query_results, features, baseline_ranking):
        """Exploitation: use learned preferences"""
        available_items = list(range(len(query_results)))
        final_ranking = []
        
        for position in range(min(self.max_results, len(query_results))):
            # Use bandit to select best item for this position
            candidates = [{'features': features[i], 'index': i} 
                         for i in available_items]
            
            selected_idx = self.bandit.select_item_for_position(candidates, position)
            item_index = available_items[selected_idx]
            
            final_ranking.append(item_index)
            available_items.remove(item_index)
        
        return np.array(final_ranking)

In [89]:
class FeedbackProcessor:
    def __init__(self, pipeline):
        self.pipeline = pipeline
        self.feedback_history = []
        
    def process_user_stars(self, query_results, ranking, starred_items):
        """Process user feedback and update models"""
        features = self.pipeline._extract_features(query_results)
        
        # Calculate rewards for each position
        for position, item_idx in enumerate(ranking):
            if position >= 10:  # Only track top 10
                break
                
            # Reward calculation
            reward = self._calculate_position_reward(item_idx, starred_items, position)
            
            # Update bandit for this position
            self.pipeline.bandit.update_position(
                position, 
                features[item_idx], 
                reward
            )
        
        # Store feedback for analysis
        self.feedback_history.append({
            'query': query_results,
            'ranking': ranking,
            'starred': starred_items,
            'timestamp': time.time()
        })
        
        # Periodically update baseline weights
        if len(self.feedback_history) % 50 == 0:
            self._update_baseline_weights()
    
    def _calculate_position_reward(self, item_idx, starred_items, position):
        """Calculate reward based on position and stars"""
        if item_idx in starred_items:
            # Higher reward for starred items at top positions
            return 1.0 / (position + 1)
        else:
            # Small negative reward for non-starred items at top
            return -0.1 / (position + 1)
    
    def _update_baseline_weights(self):
        """Update baseline feature weights based on feedback"""
        if len(self.feedback_history) < 10:
            return
        
        # Analyze which features correlate with starred items
        starred_features = []
        non_starred_features = []
        
        for feedback in self.feedback_history[-100:]:  # Last 100 interactions
            features = self.pipeline._extract_features(feedback['query'])
            
            for item_idx in feedback['starred']:
                starred_features.append(features[item_idx])
            
            for i, item in enumerate(feedback['query']):
                if i not in feedback['starred']:
                    non_starred_features.append(features[i])
        
        # Simple feature importance update
        if starred_features and non_starred_features:
            starred_mean = np.mean(starred_features, axis=0)
            non_starred_mean = np.mean(non_starred_features, axis=0)
            
            # Update weights based on feature differences
            feature_importance = np.abs(starred_mean - non_starred_mean)
            feature_importance = feature_importance / np.sum(feature_importance)
            
            feature_names = list(self.pipeline.baseline_ranker.feature_weights.keys())
            for i, feature in enumerate(feature_names):
                self.pipeline.baseline_ranker.feature_weights[feature] = feature_importance[i]

In [ ]:
class RankingSystem:
    def __init__(self):
        self.pipeline = ColdStartRankingPipeline()
        self.feedback_processor = FeedbackProcessor(self.pipeline)
        self.query_count = 0
        
    def search_and_rank(self, query, job_titles):
        """Main search interface"""
        self.query_count += 1

        query_results = self._search_candidates(query, job_titles)

    def _search_candidates(self, query, job_titles):
        """Simple search implementation"""
        candidates = []
        query_words = set(query.lower().split())
        
        for i, job_title in enumerate(job_titles):
            title_words = set(job_title.lower().split())
            
            # Check if there's any overlap
            if query_words.intersection(title_words):
                candidates.append({
                    'title': job_title,
                    'text': job_title,
                    'original_index': i
                })
        
        return candidates
        
        # Rank results
        ranking = self.pipeline.rank_query_results(query_results)
        
        # Return ranked results
        return [query_results[i] for i in ranking]
    
    def process_user_feedback(self, query_results, ranking, starred_items):
        """Handle user stars"""
        self.feedback_processor.process_user_stars(
            query_results, ranking, starred_items
        )
        
    def get_system_stats(self):
        """Return system performance metrics"""
        return {
            'total_queries': self.query_count,
            'interactions': self.pipeline.bandit.interaction_count,
            'current_exploration_rate': self.pipeline.exploration_rate * 
                (0.995 ** self.pipeline.bandit.interaction_count),
            'feedback_count': len(self.feedback_processor.feedback_history)
        }

In [ ]:
# Initialize system
ranking_system = RankingSystem()

# Search and rank
results = ranking_system.search_and_rank("python developer", job_titles)

# User stars some results
starred_indices = [0, 2]  # User starred 1st and 3rd results
ranking_system.process_user_feedback(results, list(range(len(results))), starred_indices)

# System learns and improves over time